<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/videos/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать видео
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/videos/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать видео
    </a>
</div>