<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/typequeris/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создание запроса
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/typequeris/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать запросы
    </a>
</div>