{% if photos|length > 0 %}
	<section class="photo-collections">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for photo in photos %}
			    <div class="inline-el">
			        <h2>{{ photo.title }}</h2>
			        <div class="image-holder"><img src="{{ photo.image.path }}" alt="{{ photo.title }}" class="fake-img">
			          <div style="background-image: url({{ photo.image.path }})" class="img"></div>
			          <div class="description-holder">
			            <p>{{ photo.description|raw }}</p>
			            <a href="{{ photo.link }}" class="button">{{ 'View collection'|_ }}</a>
			          </div>
			        </div></div>
		        {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}