	{% if musics|length > 0 %}
	<section class="photo-collections">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for music in musics %}
		        <div class="inline-el">
		            <h2>{{ music.title }}</h2>
		            <div class="image-holder"><img src="{{ music.image.thumb(550, 'auto') }}" alt="{{ image.title }}" class="fake-img">
						<div data-bg="{{ music.image.thumb(550, 'auto') }}" class="img lazy"></div>
						<div class="description-holder">
		                <p>{{ music.description|raw|trim|striptags }}</p>
		                <a href="{{ music.link }}" class="button">{{ 'View collection'|_ }}</a>
		                <a href="#" data-modal="#music-{{ music.id }}" class="button button-left">{{ 'Цены'|_ }}</a>
		              </div>
		            </div></div>
	    		{% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}

    
{% placeholder putCategoriesBlocks %}