{% if gettys|length > 0 %}
  <section class="photo-collections">
    <div class="main-container">
      <div class="inline-holder">
        {% for getty in gettys %}
          <div class="inline-el">
              <h2>{{ getty.title }}</h2>
              <div class="image-holder"><img src="{{ getty.image.path }}" alt="{{ getty.title }}" class="fake-img">
                <div data-bg="{{ getty.image.path }}" class="img lazy"></div>
                <div class="description-holder">
                  {{ getty.description|raw }}
                  <a href="{{ getty.link }}" class="button">{{ 'View collection'|_ }}</a>
                  <a
                      href="?hash={{ getty.id }}#gettyimage-category-{{ getty.id }}"
                      class="button button-left"
                      >{{ 'Prices'|_ }}</a>
                </div>
              </div></div>
            {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% if block.categories|length > 0 %}
{% put putBlockCatefories %}
  <div class="main-modal black">
    <div class="prices-container">
      <div class="prices-modal modal-sibling"><a href="#" class="prices-close"></a>
        <div class="modal-head">
          <span class="modal-title">{{ block.title }}</span>
          <div class="scroll-holder">
            <ul class="tabs inline-holder">
              {% for item in block.categories %}
                <li class="inline-el">
                <a href="#gettyimage-category-{{ block.id }}{{ loop.index > 1 ? '-' ~ loop.index : '' }}"{{ loop.index == 1 ? ' class="active"' : '' }}>{{ item.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="scroll-holder">
          <div class="prices-content">
          {% for category in block.categories %}
            <table id="gettyimage-category-{{ block.id }}{{ loop.index > 1 ? '-' ~ loop.index : '' }}"{{ loop.index == 1 ? ' class="active"' : '' }}>
              <tbody>
                <tr>
                  {% for sub in category.subcategories %}
                  <th>{{ sub.name }}</th>
                  {% endfor %}
                </tr>
                <tr>
                {% for sub in category.subcategories %}
                  <td>
                    <bold>{{ sub.price }}</bold>
                  </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for sub in category.subcategories %}
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endput %}
{% endif %}