<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/pages/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать страницу
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/pages/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать страницы
    </a>
</div>