<?php Block::put('breadcrumb') ?>
   <ul>
       <li><a href="<?= Backend::url('intertech/globalsite/pages') ?>">Страницы</a></li>
       <li>Изменение сортировки</li>
   </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>