<section class="contacts-description">
  <div class="main-container">
    <div class="inline-holder">
      <div class="inline-el">
        <h3>{{ description.title }}</h3>
        <p>{{ description.description|raw }}</p>
      </div>
      <div class="inline-el">
        <h3><a href="tel:{{ description.phone }}">{{ description.phone }}</a></h3>
        <p>{{ description.address|raw }} {% if description.email %} {{ 'email'|_ }}:<a href="mailto:{{ description.email }}">{{ description.email }}</a>{% endif %}</p>
      </div>
    </div>
  </div>
</section>