<section class="footer">
  <div class="main-container">
    <div class="inline-holder first-lv">
		{% if pages_footer|length > 0 %}
	      <div class="inline-el nav-list">
	        <ul>
	        	{% for page in pages_footer %}
		  			{% if page.type == 'page' %}
	          			<li class="inline-el"><a href="{{ page.cms_page|page }}">{{ page.title }}</a></li>
          			{% elseif page.type == 'info_page' %}
      					<li class="inline-el"><a href="{{ page.slug }}">{{ page.title }}</a></li>
          			{% else %}
						<li class="inline-el"><a href="{{ page.link }}" target="_blank">{{ page.title }}</a></li>
          			{% endif %}
      			{% endfor %}
	        </ul>
	      </div>
      	{% endif %}

      	{% if socials|length > 0 %}
	      <div class="inline-el social-list">
	        <ul class="inline-holder socials">
	        	{% for social in socials %}
	        	<li class="inline-el">
	        		<a href="{{ social.link }}" target="_blank"><i aria-hidden="true" class="fa fa-{{ social.type }}"></i></a>
        		</li>
	          	{% endfor %}
	        </ul>
	      </div>
      {% endif %}
      <p>{{ footer.footer|raw }}</p>
    </div>
  </div>
  <div id="preloader"><img src="{{ 'assets/img/icons/preloader-svg.svg'|theme }}" alt=""></div>
</section>