<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GLOBAL Images</title>
  </head>
  <body>
    <table style="'font-family: 'arial, sans-serif'">
      <tbody>
        <tr>
          <td>
            <p style="margin: 5px">Здравствуйте {{ name }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 5px">Спасибо, что обратились к нам с запросом "Заказать подборку".</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 5px">Мы работаем над запросом и ответим Вам в течении ближайшего времени. </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 40px 5px 5px 5px">C уважением,</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 5px">Команда Global Images Ukraine Getty images MD</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="'font-family: 'arial, sans-serif'">
      <tbody>
        <tr>
          <td>
            <p style="margin: 2px">{{ date }}</p>
          </td>
          <td>
            <p style="margin: 2px">дата и время получения</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 2px">{{ name }}</p>
          </td>
          <td>
            <p style="margin: 2px">имя отправителя</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 2px">{{ ask }}</p>
          </td>
          <td>
            <p style="margin: 2px">тема запроса</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin: 2px">{{ body }}</p>
          </td>
          <td>
            <p style="margin: 2px">текст запроса</p>
          </td>
        </tr>
        {% if utm_title %}
        <tr>
          <td>
            <p style="margin: 2px">{{ utm_title }}</p>
          </td>
          <td>
            <p style="margin: 2px">Название формы</p>
          </td>
        </tr>
        {% endif %}
        {% if utm_mark %}
        <tr>
          <td>
            <p style="margin: 2px">{{ utm_mark }}</p>
          </td>
          <td>
            <p style="margin: 2px">UTM идентификатор</p>
          </td>
        </tr>
        {% endif %}
        {% if ip_address %}
        <tr>
          <td>
            <p style="margin: 2px">{{ ip_address }}</p>
          </td>
          <td>
            <p style="margin: 2px">IP</p>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </body>
</html>