<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/services/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать сервис
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/services/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать сервисы
    </a>
</div>