<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/galeries/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать запись
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/galeries/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать запись
    </a>
</div>