/* font-family: "CenturyGothic" */
@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothicRegular/ghotic.ttf") format("truetype"), url("../fonts/CenturyGothicRegular/CenturyGothic.svg#CenturyGothic") format("svg");
  font-style: normal;
  font-weight: 400; }

/* font-family: "CenturyGothic" */
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic-Bold/CenturyGothicbold.eot");
  src: url("../fonts/CenturyGothic-Bold/CenturyGothicbold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
  font-style: normal;
  font-weight: 700; }

/* font-family: "CenturyGothic" */
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic-Italic/CenturyGothicItalic.eot");
  src: url("../fonts/CenturyGothic-Italic/CenturyGothicItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Italic/CenturyGothic-Italic.woff") format("woff"), url("../fonts/CenturyGothic-Italic/CenturyGothic-Italic.ttf") format("truetype"), url("../fonts/CenturyGothic-Italic/CenturyCenturyGothic-Italic.svg#CenturyCenturyGothic-Italic") format("svg");
  font-style: italic;
  font-weight: 400; }
