* {
  box-sizing: border-box; }

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by {
  display: none !important; }

#__bs_notify__ {
  display: none !important;
  opacity: 0 !important; }

body {
  font-family: CenturyGothic; }
  body.blackshadow {
    overflow: hidden; }
    body.blackshadow:before {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      opacity: 0.4;
      z-index: 5; }

.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

a {
  text-decoration: none;
  font-family: inherit; }

.inline-holder {
  font-size: 0;
  letter-spacing: 0; }
  .inline-holder .inline-el {
    display: inline-block;
    vertical-align: top;
    font-size: 16px; }

h2.lite {
  font-weight: 100; }

.main-bg {
  height: 340px;
  position: relative;
  background-size: cover;
  overflow: hidden; }
  .main-bg .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-bg.foto-bg {
    background-image: url(../img/images/foto-bg.jpg); }
  .main-bg.music-bg {
    background-image: url(../img/images/music-bg-1.jpg); }
  .main-bg.video-bg {
    background-image: url(../img/images/video-bg.jpg); }
  .main-bg.contacts-bg {
    background-image: url(../img/images/foto-bg.jpg); }
  .main-bg .text p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    background: #2b2323;
    opacity: 0.9;
    padding: 11px 20px;
    text-transform: uppercase;
    text-align: center; }

.image-holder {
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle; }
  .image-holder img, .image-holder video {
    vertical-align: middle;
    width: 100%;
    display: block; }
  .image-holder .fake-img {
    opacity: 0.001;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none; }
  .image-holder .img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

.main-container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1150px) {
    .main-container {
      padding: 0 15px; } }

.main-modal {
  padding-top: 30px; }
  .main-modal .close-btn {
    padding-top: 0pxdescription-holder;
    background: url(../img/icons/close.svg) 50% 50% no-repeat;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 4px;
    z-index: 5;
    text-align: center;
    height: 25px;
    width: 24px;
    background-size: cover;
    display: inline-block; }
  .main-modal .logos {
    height: 50px; }
  .main-modal .inputs {
    margin-bottom: 40px; }

.top-line-holder {
  padding-top: 61px; }

.top-line {
  padding-top: 2px;
  padding-bottom: 15px; }
  .top-line .right-part.inline-el,
  .top-line .left-part.inline-el {
    z-index: 2; }
    .top-line .right-part.inline-el .image-holder,
    .top-line .left-part.inline-el .image-holder {
      display: inline-block; }
  .top-line .left-part.inline-el {
    text-align: left;
    width: 158px;
    position: absolute;
    left: 45px;
    top: 15px; }
    @media (max-width: 1000px) {
      .top-line .left-part.inline-el {
        left: 15px; } }
    @media (max-width: 480px) {
      .top-line .left-part.inline-el {
        width: 128px; } }
  .top-line .right-part.inline-el {
    text-align: right;
    width: 128px;
    position: absolute;
    top: 16px;
    right: 55px; }
    @media (max-width: 1000px) {
      .top-line .right-part.inline-el {
        right: 15px;
        display: none; } }
    @media (max-width: 480px) {
      .top-line .right-part.inline-el {
        width: 108px; } }
  .top-line.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background: white; }

.main-nav .nav-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 131px;
  position: relative; }
  @media (max-width: 1000px) {
    .main-nav .nav-container {
      padding: 0 15px; } }
  .main-nav .nav-container ul.inline-holder {
    text-align: center;
    padding-left: 0; }
    .main-nav .nav-container ul.inline-holder li.inline-el {
      transition: background 0.5s;
      position: relative; }
      .main-nav .nav-container ul.inline-holder li.inline-el a {
        margin-left: 12px;
        margin-right: 12px;
        line-height: 2.6em;
        font-size: 19px;
        color: #231f20;
        position: relative;
        transition: color 0.2s; }
        @media (max-width: 1150px) {
          .main-nav .nav-container ul.inline-holder li.inline-el a {
            margin-left: 5px;
            margin-right: 5px; } }
        .main-nav .nav-container ul.inline-holder li.inline-el a:after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          top: -15px;
          left: 0;
          height: 5px;
          background: #000; }
        .main-nav .nav-container ul.inline-holder li.inline-el a:hover {
          color: #929497;
          transition: color 0.2s; }
          .main-nav .nav-container ul.inline-holder li.inline-el a:hover:after {
            transition: width 0.2s;
            width: 100%; }
        .main-nav .nav-container ul.inline-holder li.inline-el a.active {
          color: #929497;
          transition: color 0.2s; }
          .main-nav .nav-container ul.inline-holder li.inline-el a.active:after {
            transition: width 0.2s;
            width: 100%; }
        @media (max-width: 1150px) {
          .main-nav .nav-container ul.inline-holder li.inline-el a {
            font-size: 17px;
            padding-left: 8px;
            padding-right: 8px; } }
        @media (max-width: 1000px) {
          .main-nav .nav-container ul.inline-holder li.inline-el a {
            display: none; } }
  .main-nav .nav-container ul#mobile-menu {
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    padding-left: 0; }
    @media (min-width: 1000px) {
      .main-nav .nav-container ul#mobile-menu {
        display: none; } }
    .main-nav .nav-container ul#mobile-menu.open {
      max-height: 999px;
      transition: max-height .5s; }
    .main-nav .nav-container ul#mobile-menu li:last-child {
      padding-bottom: 15px; }
    .main-nav .nav-container ul#mobile-menu li a {
      line-height: 2.0em;
      font-size: 15px;
      color: #000;
      position: relative; }
      .main-nav .nav-container ul#mobile-menu li a:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        bottom: -5px;
        left: 0;
        height: 5px;
        background: #000; }
      .main-nav .nav-container ul#mobile-menu li a:hover:after {
        transition: width 0.2s;
        width: 100%; }
      .main-nav .nav-container ul#mobile-menu li a.active:after {
        transition: width 0.2s;
        width: 100%; }
  .main-nav .nav-container div.mobile-btn-holder {
    height: 44px;
    text-align: right;
    padding: 10px;
    padding-right: 4px; }
    @media (min-width: 1000px) {
      .main-nav .nav-container div.mobile-btn-holder {
        display: none; } }
    .main-nav .nav-container div.mobile-btn-holder div#m-nav-btn {
      display: inline-block;
      height: 25px;
      width: 40px;
      cursor: pointer; }
      .main-nav .nav-container div.mobile-btn-holder div#m-nav-btn span {
        display: block;
        height: 5px;
        background: #000;
        margin-top: 4px;
        margin-bottom: 4px; }
        .main-nav .nav-container div.mobile-btn-holder div#m-nav-btn span:first-child {
          margin-top: 0; }

section.main-slider {
  position: relative; }
  @media (max-width: 760px) {
    section.main-slider .slider-holder {
      display: none; } }
  section.main-slider .mobile-slider-holder .image-holder {
    width: 100%; }
  @media (min-width: 760px) {
    section.main-slider .mobile-slider-holder {
      display: none; } }
  section.main-slider .sec-description {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    background: #2b2323;
    opacity: 0.9;
    padding: 11px 15px; }
    section.main-slider .sec-description p {
      margin: 0;
      text-transform: uppercase; }
  section.main-slider .image-holder {
    width: 25%;
    min-height: 150px;
    height: 340px;
    text-align: left; }
    section.main-slider .image-holder:nth-child(3n+2) {
      width: 50%; }
  section.main-slider .bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: 0; }
    section.main-slider .bx-wrapper .bx-controls-direction a {
      height: 100%;
      top: 0;
      width: 40px;
      margin-top: 0;
      background: transparent; }
      @media (max-width: 480px) {
        section.main-slider .bx-wrapper .bx-controls-direction a {
          background: transparent; } }
    section.main-slider .bx-wrapper .bx-prev {
      left: -1px; }
      section.main-slider .bx-wrapper .bx-prev:after {
        content: '';
        position: absolute;
        height: 0px;
        width: 0px;
        border-left: 10px solid #fff;
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        top: 50%;
        left: 50%;
        margin-left: -7px;
        -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
            transform: rotate(45deg) translateX(-50%) translateY(-50%); }
    section.main-slider .bx-wrapper .bx-next {
      right: -1px; }
      section.main-slider .bx-wrapper .bx-next:after {
        content: '';
        position: absolute;
        height: 0px;
        width: 0px;
        border-right: 10px solid #fff;
        border-top: 10px solid #fff;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
            transform: rotate(45deg) translateX(-50%) translateY(-50%); }
    section.main-slider .bx-wrapper .captions {
      position: relative;
      color: white;
      text-align: center;
      font-family: CenturyGothic;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      overflow: hidden;
      right: auto;
      -ms-transform: translateY(-123%);
          transform: translateY(-123%);
      left: 10px;
      padding: 9px 20px;
      background: #000;
      max-width: 90%;
      max-height: 60%;
      opacity: 0.8;
      display: inline-block; }
      @media (max-width: 480px) {
        section.main-slider .bx-wrapper .captions {
          top: -10px; } }
      @media (max-width: 760px) {
        section.main-slider .bx-wrapper .captions {
          -ms-transform: translateY(-143%);
              transform: translateY(-143%); } }
      section.main-slider .bx-wrapper .captions p {
        margin: 0; }
    section.main-slider .bx-wrapper .bx-pager.bx-default-pager {
      display: none; }

section.about {
  color: #231f20;
  font-family: CenturyGothic;
  line-height: 22px;
  padding-top: 7px; }
  @media (max-width: 760px) {
    section.about {
      padding-top: 20px; } }
  section.about h2 {
    color: #231f20;
    font-family: CenturyGothic;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 32px; }
  section.about .inline-holder {
    margin-left: -0.75%;
    margin-right: -0.75%; }
    section.about .inline-holder .inline-el {
      width: 31.83333%;
      margin-left: 0.75%;
      margin-right: 0.75%; }
      @media (max-width: 630px) {
        section.about .inline-holder .inline-el {
          width: 100%; } }
      section.about .inline-holder .inline-el h3 {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-align: justify;
        line-height: 24px;
        font-size: 22px;
        margin-bottom: 0; }

section.mini-galery {
  padding-top: 66px; }
  section.mini-galery .main-container .inline-holder {
    margin-left: -0.8%;
    margin-right: -0.8%; }
    section.mini-galery .main-container .inline-holder .inline-el {
      width: 23.4%;
      margin-left: 0.8%;
      margin-right: 0.8%; }
      @media (max-width: 630px) {
        section.mini-galery .main-container .inline-holder .inline-el {
          width: 48.4%;
          margin: 0.8%; } }
      @media (max-width: 480px) {
        section.mini-galery .main-container .inline-holder .inline-el {
          width: 98.4%;
          margin: 0.8%; } }
      section.mini-galery .main-container .inline-holder .inline-el .image-holder {
        height: 265px; }

section.facts {
  padding-top: 2px;
  text-align: center; }
  section.facts .main-container h2 {
    color: #231f20;
    font-family: CenturyGothic;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 27px; }
  section.facts .main-container .inline-holder.white-box {
    margin-left: -0.8%;
    margin-right: -0.8%;
    background: #fff;
    margin-top: 66px;
    padding-top: 37px;
    padding-bottom: 40px; }
    section.facts .main-container .inline-holder.white-box .inline-el {
      width: 23.4%;
      margin-left: 0.8%;
      margin-right: 0.8%; }
      @media (max-width: 630px) {
        section.facts .main-container .inline-holder.white-box .inline-el {
          width: 48.4%;
          margin-bottom: 40px; } }
      section.facts .main-container .inline-holder.white-box .inline-el .top-name {
        margin-bottom: 21px; }
        section.facts .main-container .inline-holder.white-box .inline-el .top-name span {
          color: #231f20;
          font-family: CenturyGothic;
          font-size: 24px;
          font-style: italic; }
      section.facts .main-container .inline-holder.white-box .inline-el .image-holder {
        width: 101px;
        height: 101px;
        display: inline-block;
        margin-bottom: 17px; }
      section.facts .main-container .inline-holder.white-box .inline-el .factsdesc {
        text-transform: uppercase; }

section.articles-list {
  padding-top: 71px;
  padding-bottom: 91px; }
  section.articles-list .inline-holder.first-lv {
    margin-left: -0.8%;
    margin-right: -0.8%; }
    section.articles-list .inline-holder.first-lv .inline-el.first-lv {
      width: 48.4%;
      margin-left: 0.8%;
      margin-right: 0.8%;
      margin-bottom: 1.6%;
      background: rgba(128, 128, 128, 0.6);
      position: relative; }
      @media (max-width: 630px) {
        section.articles-list .inline-holder.first-lv .inline-el.first-lv {
          width: 98.4%;
          margin-left: 0.8%;
          margin-right: 0.8%; } }
      section.articles-list .inline-holder.first-lv .inline-el.first-lv .image-holder {
        text-align: left;
        height: 294px; }
        section.articles-list .inline-holder.first-lv .inline-el.first-lv .image-holder:after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0;
          transition: opacity 0.2s; }
        section.articles-list .inline-holder.first-lv .inline-el.first-lv .image-holder:hover:after {
          opacity: 0.3;
          transition: opacity 0.2s; }
        @media (max-width: 1150px) {
          section.articles-list .inline-holder.first-lv .inline-el.first-lv .image-holder {
            height: 316px; } }
        section.articles-list .inline-holder.first-lv .inline-el.first-lv .image-holder img {
          display: inline-block; }
      section.articles-list .inline-holder.first-lv .inline-el.first-lv .text-holder {
        position: absolute;
        left: 0;
        bottom: 20px; }
        section.articles-list .inline-holder.first-lv .inline-el.first-lv .text-holder h3 {
          font-family: CenturyGothic;
          font-size: 28px;
          line-height: 35px;
          font-weight: 100;
          margin-bottom: 0;
          color: #fff;
          left: 0;
          bottom: 0;
          width: 100%;
          padding-left: 26px;
          overflow: hidden;
          transition: background .2s;
          z-index: 1; }
          @media (max-width: 760px) {
            section.articles-list .inline-holder.first-lv .inline-el.first-lv .text-holder h3 {
              margin-top: 0; } }

section.footer {
  background: #323232;
  padding-top: 17px;
  padding-bottom: 55px; }
  @media (max-width: 480px) {
    section.footer {
      padding-top: 76px; } }
  @media (max-width: 760px) {
    section.footer .inline-holder.first-lv .inline-el.nav-list {
      width: 100%; } }
  section.footer .inline-holder.first-lv .inline-el.nav-list ul {
    padding: 0; }
    @media (max-width: 480px) {
      section.footer .inline-holder.first-lv .inline-el.nav-list ul {
        margin-top: 0; } }
    section.footer .inline-holder.first-lv .inline-el.nav-list ul li.inline-el {
      margin-right: 8px;
      margin-bottom: 10px; }
      section.footer .inline-holder.first-lv .inline-el.nav-list ul li.inline-el a {
        color: white;
        font-family: CenturyGothic;
        font-size: 16px;
        font-weight: 400;
        text-align: center; }
  section.footer .inline-holder.first-lv .inline-el.social-list {
    margin-top: 16px;
    position: relative;
    display: block; }
    @media (max-width: 760px) {
      section.footer .inline-holder.first-lv .inline-el.social-list {
        width: 100%; } }
    section.footer .inline-holder.first-lv .inline-el.social-list ul {
      padding: 15px 15px;
      padding-left: 0; }
      @media (max-width: 480px) {
        section.footer .inline-holder.first-lv .inline-el.social-list ul {
          margin-top: 0;
          position: relative;
          top: 8px; } }
      section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el {
        margin-right: 15px;
        position: relative; }
        section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el a i.fa {
          color: #fff;
          font-size: 20px; }
          section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el a i.fa:hover {
            color: grey;
            transition: color .2s; }
        section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el.facebook {
          top: -6px; }
          @media (max-width: 480px) {
            section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el.facebook {
              top: 0; } }
        section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el.twitter {
          top: -1px;
          left: -4px; }
          @media (max-width: 480px) {
            section.footer .inline-holder.first-lv .inline-el.social-list ul li.inline-el.twitter {
              top: 0;
              left: 0; } }
  section.footer .inline-holder.first-lv p {
    opacity: 0.3;
    color: white;
    font-size: 10px; }

section.photo-collections.news {
  margin-bottom: 62px; }
  section.photo-collections.news .lite {
    height: 87px;
    overflow: hidden; }

section.photo-collections .main-container .inline-holder {
  margin-left: -0.8%;
  margin-right: -0.8%; }
  section.photo-collections .main-container .inline-holder .inline-el {
    width: 48.4%;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-bottom: 4px; }
    @media (max-width: 1000px) {
      section.photo-collections .main-container .inline-holder .inline-el {
        width: 48.4%; } }
    @media (max-width: 760px) {
      section.photo-collections .main-container .inline-holder .inline-el {
        width: 98.4%; } }
    section.photo-collections .main-container .inline-holder .inline-el a {
      text-decoration: none;
      color: inherit; }
      section.photo-collections .main-container .inline-holder .inline-el a h2 {
        color: #231f20;
        font-family: CenturyGothic;
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 24px; }

section.photo-collections .main-container .image-holder {
  height: 300px; }
  section.photo-collections .main-container .image-holder .description-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s; }
    section.photo-collections .main-container .image-holder .description-holder:hover, section.photo-collections .main-container .image-holder .description-holder:active, section.photo-collections .main-container .image-holder .description-holder:focus {
      transition: 0.2s;
      background: rgba(134, 130, 130, 0.9); }
      section.photo-collections .main-container .image-holder .description-holder:hover p, section.photo-collections .main-container .image-holder .description-holder:active p, section.photo-collections .main-container .image-holder .description-holder:focus p {
        opacity: 1; }
    section.photo-collections .main-container .image-holder .description-holder p {
      padding: 20px 20px 20px 24px;
      color: white;
      font-family: CenturyGothic;
      line-height: 20px;
      text-align: justify;
      opacity: 0; }
      @media (max-width: 1000px) {
        section.photo-collections .main-container .image-holder .description-holder p {
          font-size: 14px; } }
    section.photo-collections .main-container .image-holder .description-holder .button {
      width: 121px;
      height: 31px;
      color: white;
      font-family: CenturyGothic;
      font-size: 14px;
      background: #37b34a;
      border: none;
      outline: none;
      position: absolute;
      right: 32px;
      bottom: 32px;
      display: inline-block;
      line-height: 31px; }
      section.photo-collections .main-container .image-holder .description-holder .button.button-left {
        right: auto;
        left: 32px; }

section.photo-collections.services {
  margin-top: 28px;
  margin-bottom: 70px; }
  section.photo-collections.services .main-container .inline-holder {
    margin-left: -0.8%;
    margin-right: -0.8%; }
    section.photo-collections.services .main-container .inline-holder .inline-el {
      width: 31.733%;
      margin-left: 0.8%;
      margin-right: 0.8%;
      margin-bottom: 4px; }
      @media (max-width: 1000px) {
        section.photo-collections.services .main-container .inline-holder .inline-el {
          width: 48.4%; } }
      @media (max-width: 760px) {
        section.photo-collections.services .main-container .inline-holder .inline-el {
          width: 98.4%; } }
  section.photo-collections.services .image-holder {
    height: 360px; }
  section.photo-collections.services a h2 {
    color: #231f20;
    font-family: CenturyGothic;
    font-size: 20px;
    font-weight: 700;
    padding-left: 0px;
    margin-bottom: 25px; }

section.order {
  background: url(../img/images/order-bg-2.jpg);
  text-align: center;
  padding-top: 14px;
  margin-top: 62px;
  padding-bottom: 80px;
  background-size: cover; }
  section.order h5 {
    color: white;
    font-family: CenturyGothic;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px; }
  section.order button,
  section.order .button {
    display: inline-block;
    width: 206px;
    height: 37px;
    line-height: 37px;
    color: white;
    font-family: CenturyGothic;
    font-size: 16px;
    font-weight: 400;
    background: #37b34a;
    border: none;
    outline: none;
    opacity: 1;
    transition: opacity, .2s; }
    section.order button:hover,
    section.order .button:hover {
      opacity: 0.7;
      transition: opacity, .2s; }

section.part-description {
  margin-top: 78px; }
  section.part-description .inline-holder {
    margin-left: -0.8%;
    margin-right: -0.8%; }
    section.part-description .inline-holder .inline-el {
      width: 48.4%;
      margin-left: 0.8%;
      margin-right: 0.8%;
      height: 300px;
      overflow: hidden; }
      @media (max-width: 760px) {
        section.part-description .inline-holder .inline-el {
          width: 98.4%;
          height: auto; } }
      section.part-description .inline-holder .inline-el .image-holder {
        height: 100%; }
        @media (max-width: 760px) {
          section.part-description .inline-holder .inline-el .image-holder {
            height: auto;
            width: 100%; }
            section.part-description .inline-holder .inline-el .image-holder img {
              width: 100%;
              height: auto; } }
      section.part-description .inline-holder .inline-el .description-holder {
        background: #d1d3d4;
        padding: 36px 18px 70px 28px;
        height: 100%;
        position: relative; }
        section.part-description .inline-holder .inline-el .description-holder p {
          color: #231f20;
          font-family: CenturyGothic;
          overflow: hidden;
          max-height: 100%;
          margin: 0; }
          @media (max-width: 1000px) {
            section.part-description .inline-holder .inline-el .description-holder p {
              font-size: 14px; } }
        section.part-description .inline-holder .inline-el .description-holder button {
          width: 121px;
          height: 31px;
          color: white;
          font-family: CenturyGothic;
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          background: #1c75bc;
          border: none;
          outline: none;
          position: absolute;
          right: 23px;
          bottom: 25px; }

section.services-header {
  margin-top: 40px;
  margin-bottom: 30px; }

section.services-items .inline-holder {
  margin-left: -0.8%;
  margin-right: -0.8%; }
  section.services-items .inline-holder .inline-el {
    width: 31.733%;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-bottom: 1.6%;
    height: 450px;
    overflow: hidden; }
    @media (max-width: 760px) {
      section.services-items .inline-holder .inline-el {
        width: 48.4%; } }
    @media (max-width: 580px) {
      section.services-items .inline-holder .inline-el {
        width: 98.4%; } }

section.services-items .image-holder {
  height: 100%; }
  section.services-items .image-holder .description-holder {
    padding: 10px;
    background: #A7A9AC;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
    color: #fff; }
    section.services-items .image-holder .description-holder:hover {
      opacity: 1;
      transition: .2s; }
    section.services-items .image-holder .description-holder.active {
      opacity: 1;
      transition: .2s; }
    section.services-items .image-holder .description-holder a {
      color: inherit; }

section.contacts-holder .inline-el.send-form {
  width: 70%;
  padding-right: 40px; }
  @media (max-width: 1000px) {
    section.contacts-holder .inline-el.send-form {
      width: 100%;
      padding-right: 0; } }
  section.contacts-holder .inline-el.send-form .input-holder {
    margin-top: 40px; }
    section.contacts-holder .inline-el.send-form .input-holder label {
      display: block;
      margin-bottom: 10px;
      color: #B5B5B5; }
    section.contacts-holder .inline-el.send-form .input-holder input {
      width: 100%;
      height: 40px;
      padding-left: 20px;
      outline: none;
      border: 1px solid #E0DBDB; }
    section.contacts-holder .inline-el.send-form .input-holder button {
      height: 40px;
      width: 90px;
      background: transparent;
      outline: none;
      border: none;
      background: #A7A9AC;
      color: #fff; }
    section.contacts-holder .inline-el.send-form .input-holder.phone {
      max-width: 70%; }
      @media (max-width: 1000px) {
        section.contacts-holder .inline-el.send-form .input-holder.phone {
          max-width: 100%; } }

section.contacts-holder .inline-el.contacts-blocks {
  width: 30%; }
  @media (max-width: 1000px) {
    section.contacts-holder .inline-el.contacts-blocks {
      width: 100%; } }
  section.contacts-holder .inline-el.contacts-blocks .contacts-block {
    background: #E7E7E7;
    padding: 20px;
    margin-bottom: 40px; }
    section.contacts-holder .inline-el.contacts-blocks .contacts-block h4 {
      color: #b70108; }
    section.contacts-holder .inline-el.contacts-blocks .contacts-block h3 {
      color: #b70108; }
    section.contacts-holder .inline-el.contacts-blocks .contacts-block a {
      color: #b70108; }

.policy-holder {
  margin: 70px 0; }
  .policy-holder .privacy-policy {
    font-family: CenturyGothic; }
    .policy-holder .privacy-policy h2 {
      text-transform: uppercase;
      font-family: CenturyGothic; }
    .policy-holder .privacy-policy p,
    .policy-holder .privacy-policy ul {
      color: #000;
      font-size: 16px;
      font-family: CenturyGothic; }

section.subscriptions .inline-holder {
  margin-left: -0.5%;
  margin-right: -0.5%; }
  section.subscriptions .inline-holder .inline-el {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%; }
    @media (max-width: 760px) {
      section.subscriptions .inline-holder .inline-el {
        width: 99%; } }

section.subscriptions .subscription-block {
  margin-top: 25px; }
  section.subscriptions .subscription-block .image-holder {
    text-align: left; }
    section.subscriptions .subscription-block .image-holder.getty {
      height: 32px; }
    section.subscriptions .subscription-block .image-holder.istock {
      height: 32px; }
    section.subscriptions .subscription-block .image-holder img {
      height: 100%;
      width: auto; }
  section.subscriptions .subscription-block h2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-family: CenturyGothic; }
  section.subscriptions .subscription-block .text-holder {
    overflow: hidden;
    height: 137px; }
    section.subscriptions .subscription-block .text-holder.main {
      height: 119px; }
    section.subscriptions .subscription-block .text-holder p {
      margin-top: 10px;
      color: #000;
      font-size: 16px;
      font-family: CenturyGothic; }

.call-us p,
.call-us ol,
.call-us ul,
.call-us li {
  color: #000;
  font-size: 16px;
  font-family: CenturyGothic;
  text-align: left;
  padding-left: 0; }

.call-us .description-holder {
  text-align: center;
  margin: 110px 0;
  margin-top: 20px; }
  .call-us .description-holder h4 {
    font-weight: 400;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    background: #37b34a;
    color: #fff;
    font-family: CenturyGothic;
    margin-bottom: 20px; }
  .call-us .description-holder p {
    text-align: left;
    margin: 0; }
  .call-us .description-holder a {
    display: inline-block;
    padding: 10px;
    min-width: 206px;
    color: white;
    font-family: CenturyGothic;
    background: #37b34a;
    opacity: 1;
    transition: opacity, .2s;
    margin-top: 20px; }
    .call-us .description-holder a:hover {
      opacity: 0.8;
      transition: opacity, .2s; }

.contacts-description {
  font-family: CenturyGothic;
  margin-top: 70px;
  color: #000; }
  .contacts-description .inline-holder {
    margin-left: -0.8%;
    margin-right: -0.8%; }
    .contacts-description .inline-holder .inline-el {
      width: 48.4%;
      margin-left: 0.8%;
      margin-right: 0.8%;
      margin-bottom: 1.6%; }
      @media (max-width: 760px) {
        .contacts-description .inline-holder .inline-el {
          width: 98.4%; } }
  .contacts-description h3 {
    font-weight: 400;
    font-size: 24px; }
  .contacts-description a {
    color: inherit; }

.map-section .map-holder #map {
  height: 350px; }

.team-section {
  font-family: CenturyGothic;
  color: #716c6c;
  margin: 32px 0; }
  .team-section h2 {
    text-transform: uppercase;
    color: #716c6c; }
  .team-section .inline-holder {
    margin-left: -0.8%;
    margin-right: -0.8%;
    margin-bottom: -1.6%; }
    .team-section .inline-holder .inline-el {
      width: 31.733%;
      margin-left: 0.8%;
      margin-right: 0.8%;
      margin-bottom: 1.6%; }
      @media (max-width: 1000px) {
        .team-section .inline-holder .inline-el {
          width: 48.4%; } }
      @media (max-width: 760px) {
        .team-section .inline-holder .inline-el {
          width: 98.4%; } }
  .team-section .contact-block {
    margin-top: 7px; }
  .team-section .image-holder {
    height: 360px; }
    .team-section .image-holder .description-holder {
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(134, 130, 130, 0.9);
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s;
      text-align: center; }
      .team-section .image-holder .description-holder:hover, .team-section .image-holder .description-holder.active {
        opacity: 1;
        transition: 0.2s; }
      .team-section .image-holder .description-holder .text {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        left: 0;
        padding: 10px;
        text-align: center;
        font-size: 1.2em;
        width: 100%; }
      .team-section .image-holder .description-holder p {
        color: white;
        font-family: CenturyGothic;
        margin: 0; }
      .team-section .image-holder .description-holder a {
        font-family: CenturyGothic;
        color: #dedede; }
  .team-section .text-holder {
    margin-bottom: 10px;
    height: 44px;
    overflow: hidden; }
    .team-section .text-holder p {
      margin: 0;
      font-size: 19px;
      color: #3c3c3c;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .team-section .text-holder a {
      color: #716c6c; }

.main-modal {
  position: fixed;
  overflow-y: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
  z-index: 30; }
  .main-modal:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1; }
  .main-modal.open {
    opacity: 1;
    pointer-events: inherit;
    transition: opacity .2s; }
  .main-modal .top-line {
    padding-top: 0;
    /*padding-bottom: 50px*/
    margin: 0 auto;
    /*margin-top: 20px*/
    position: relative;
    border-bottom: 1px solid #bfbebe; }
    .main-modal .top-line .main-container {
      position: relative;
      max-width: 850px; }
      .main-modal .top-line .main-container .right-part {
        top: 15px; }
        @media (max-width: 1000px) {
          .main-modal .top-line .main-container .right-part {
            display: inline-block; } }
      .main-modal .top-line .main-container .left-part {
        top: 16px; }
  .main-modal .socials {
    padding: 0; }
    .main-modal .socials a {
      display: inline-block;
      color: #9d9b9b;
      border: 1px solid #9d9b9b;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      margin: 5px;
      font-size: 20px; }
      .main-modal .socials a i.fa {
        color: grey;
        transition: color .2s; }
  .main-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    text-align: center; }

.page-404 {
  padding: 70px 0; }

.form-holder {
  position: relative;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  background: #fff; }
  @media (max-width: 1150px) {
    .form-holder {
      padding-left: 35px;
      padding-right: 35px; } }
  @media (max-width: 760px) {
    .form-holder {
      margin-top: 50px;
      padding-top: 0;
      padding-right: 10px;
      padding-left: 10px; } }
  .form-holder h3 {
    margin-top: 0;
    color: #000;
    font-weight: 400;
    font-size: 28px; }
  .form-holder .scroll-holder {
    overflow: auto;
    max-height: 80vh; }
    @media (max-width: 760px) {
      .form-holder .scroll-holder {
        max-height: 60vh; } }
  .form-holder .inputs {
    max-width: 49%;
    width: 100%;
    padding-right: 30px;
    position: relative; }
    @media (max-width: 760px) {
      .form-holder .inputs {
        max-width: 100%;
        padding-right: 0; } }
    .form-holder .inputs:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0;
      height: 100%;
      width: 1px;
      background: #aba9a9; }
      @media (max-width: 760px) {
        .form-holder .inputs:after {
          display: none; } }
  .form-holder .map-holder {
    height: 391px;
    width: 100%;
    margin-top: 20px; }
    .form-holder .map-holder #map {
      width: 100%;
      height: 100%; }
  .form-holder .contacts {
    max-width: 49%;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 32px;
    color: #9d9b9b; }
    @media (max-width: 760px) {
      .form-holder .contacts {
        max-width: 100%;
        padding-left: 0; } }
    .form-holder .contacts.mobile {
      display: none; }
      @media (max-width: 760px) {
        .form-holder .contacts.mobile {
          display: inline-block; } }
    .form-holder .contacts h5 {
      color: #000;
      font-weight: 400;
      font-size: 15px; }
    .form-holder .contacts p {
      font-size: 14px;
      margin: 3px 0px;
      color: #000; }
      .form-holder .contacts p a {
        color: #000; }
    @media (max-width: 760px) {
      .form-holder .contacts {
        max-width: 100%; } }
  .form-holder .form-group {
    margin-bottom: 25px; }
    .form-holder .form-group:last-child {
      margin: 0; }
  .form-holder label,
  .form-holder input,
  .form-holder textarea,
  .form-holder select {
    display: block;
    width: 100%;
    font-family: CenturyGothic;
    transform: translateZ(0);
    outline: none;
    color: #000; }
  .form-holder select {
    padding: 5px; }
  .form-holder textarea {
    resize: none;
    padding: 5px;
    border: 1px solid darkgrey;
    height: 150px; }
  .form-holder input {
    padding: 5px;
    border: 1px solid darkgrey; }
  .form-holder label {
    margin-bottom: 5px;
    font-size: 14px; }
  .form-holder button {
    width: 206px;
    height: 37px;
    color: white;
    font-family: CenturyGothic;
    font-size: 16px;
    font-weight: 400;
    background: #37b34a;
    border: none;
    outline: none;
    opacity: 1;
    transition: opacity, .2s;
    margin: 50px auto 0;
    display: block; }
    .form-holder button:hover {
      opacity: 0.7;
      transition: opacity, .2s; }

.slider-container {
  overflow: hidden;
  width: 100%;
  position: relative; }
  .slider-container .viewport {
    max-width: 650px;
    margin: 0 auto; }
    .slider-container .viewport .carousel {
      font-size: 0;
      padding: 0;
      margin: 0; }
      .slider-container .viewport .carousel.animated {
        transition: transform .5s ease-in-out; }
      .slider-container .viewport .carousel .slide {
        display: inline-block;
        width: 350px; }
        .slider-container .viewport .carousel .slide .image-holder {
          height: 340px; }
        .slider-container .viewport .carousel .slide .text-holder {
          background: rgba(0, 0, 0, 0.7);
          font-size: 20px;
          position: absolute;
          left: 30px;
          bottom: 20px;
          color: #fff;
          opacity: 0;
          transition: opacity .5s ease-in-out, left .3s ease-in-out; }
          .slider-container .viewport .carousel .slide .text-holder p {
            margin: 0;
            padding: 5px; }
        .slider-container .viewport .carousel .slide.active .text-holder {
          opacity: 1;
          left: 20px;
          transition: opacity .5s ease-in-out, left .3s ease-in-out; }
        .slider-container .viewport .carousel .slide.fake-active .text-holder {
          opacity: 1;
          left: 20px;
          transition: opacity .5s ease-in-out, left .3s ease-in-out; }

.slide {
  position: relative; }
  .slide:before {
    content: '';
    color: #fff;
    font-size: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.3;
    transition: opacity .5s ease-in-out;
    z-index: 1; }
  .slide.active:before {
    opacity: 0;
    transition: opacity .5s ease-in-out; }
  .slide.fake-active:before {
    opacity: 0;
    transition: opacity .5s ease-in-out; }

.slider-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 50%;
  height: 0;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .slider-nav #next-btn,
  .slider-nav #prev-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
  .slider-nav #prev-btn {
    left: 0;
    right: auto; }
    .slider-nav #prev-btn:after {
      content: '';
      position: absolute;
      height: 0px;
      width: 0px;
      border-left: 10px solid #fff;
      border-bottom: 10px solid #fff;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
          transform: rotate(45deg) translateX(-50%) translateY(-50%); }
  .slider-nav #next-btn:after {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
        transform: rotate(45deg) translateX(-50%) translateY(-50%); }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  font-size: 55px; }
  #preloader .fa,
  #preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }

.devider {
  margin-top: 30px; }

.red-col {
  display: inline-block;
  width: 3px;
  height: 12px;
  background: red;
  position: relative;
  top: 1px; }

.rngst_phone_button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: block;
  height: 80px;
  width: 80px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  opacity: .8;
  transition: all .3s ease-in-out;
  z-index: 999990 !important;
  -ms-transform-origin: 50% 50% 0;
  background: #a9e6f4;
  border-radius: 50%; }
  .rngst_phone_button.sended {
    background: #a9e7a4; }
    .rngst_phone_button.sended .rngst_phone_icon {
      background-image: url(../img/icons/green2.png); }

.rngst_phone_icon {
  cursor: pointer;
  width: 60px;
  height: 60px;
  top: 9px;
  left: 6px;
  position: absolute;
  background-image: url(../img/icons/blue2.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999993;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  animation: myarrow 1.25s linear 0s infinite alternate; }

@keyframes myarrow {
  to {
    transform: scale(1); }
  from {
    transform: scale(0.8); } }

.main-modal.black:before {
  background: #000;
  opacity: 0.5; }

.prices-container {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  width: 100%;
  max-width: 1120px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75); }
  @media (max-width: 1000px) {
    .prices-container {
      max-width: 510px;
      margin-top: 111px; } }
  .prices-container .prices-close {
    height: 20px;
    width: 20px;
    background: red;
    display: inline-block;
    position: absolute;
    top: -26px;
    right: 0;
    z-index: 2;
    background: url(../img/icons/ic_close_48px.svg) 50% 50%;
    background-size: 29px; }
  .prices-container .back-prices {
    position: absolute;
    top: -27px;
    right: 44px;
    color: #d8d8d8;
    font-size: 14px;
    background: #37b34a;
    padding: 2px 13px; }

.prices-modal table {
  width: 100%;
  display: none; }
  .prices-modal table.active {
    display: table; }

.prices-modal td, .prices-modal th {
  padding: 15px 10px;
  font-weight: normal;
  text-align: center; }

.prices-modal th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 1.5rem; }
  @media (max-width: 1000px) {
    .prices-modal th {
      display: block;
      border: 1px solid #ccc;
      border-top: 1px solid #000;
      border-bottom: 1px solid #ccc; } }

.prices-modal td {
  border: 1px solid #000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  @media (max-width: 1000px) {
    .prices-modal td {
      display: block;
      border: 1px solid #ccc; } }

.prices-modal tr.mobile {
  display: none; }
  .prices-modal tr.mobile td:last-child {
    border-bottom: 5px solid #333333; }
  @media (max-width: 1000px) {
    .prices-modal tr.mobile {
      display: block; } }

@media (max-width: 1000px) {
  .prices-modal tr {
    display: none; } }

.prices-modal bold {
  font-weight: 600;
  font-size: 1.6rem; }

.prices-modal .modal-inner {
  display: none; }
  .prices-modal .modal-inner.active {
    display: block; }

.prices-modal .modal-head {
  background: #333;
  color: #fff;
  padding: 5px;
  position: relative;
  padding-left: 220px;
  text-align: right; }
  @media (max-width: 1000px) {
    .prices-modal .modal-head {
      padding-left: 5px; } }

.prices-modal .scroll-holder {
  overflow: auto; }
  .prices-modal .scroll-holder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    height: 5px; }
  .prices-modal .scroll-holder::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    height: 5px; }
  .prices-modal .scroll-holder::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background: #777777;
    height: 5px; }

.prices-modal .modal-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.3rem;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 13px;
  font-weight: 600; }
  @media (max-width: 1000px) {
    .prices-modal .modal-title {
      position: static;
      text-align: center;
      display: block;
      width: 100%;
      padding: 10px; } }

.prices-modal .tabs {
  padding-left: 0;
  white-space: nowrap; }
  @media (max-width: 1000px) {
    .prices-modal .tabs li {
      display: block; } }
  .prices-modal .tabs li a {
    color: #fff;
    font-size: 1.3rem;
    padding: 5px;
    background: #6d6a6a;
    color: #fff;
    margin-left: 5px;
    min-width: 150px;
    min-width: 120px;
    text-align: center;
    display: inline-block; }
    @media (max-width: 1000px) {
      .prices-modal .tabs li a {
        display: block;
        margin-left: 0;
        margin-bottom: 5px; } }
    .prices-modal .tabs li a:hover, .prices-modal .tabs li a.active {
      background: #fff;
      color: #000; }
    .prices-modal .tabs li a.active {
      position: relative;
      font-weight: 600; }
      .prices-modal .tabs li a.active:after {
        content: '';
        position: absolute;
        bottom: -7.9px;
        left: 0;
        width: 100%;
        height: 10px;
        background: #fff; }
        @media (max-width: 1000px) {
          .prices-modal .tabs li a.active:after {
            display: none; } }

.prices-modal .button {
  height: 38px;
  color: white;
  font-family: CenturyGothic;
  font-size: 16px;
  font-weight: 400;
  background: #6d6a6a;
  border: none;
  outline: none;
  opacity: 1;
  transition: opacity, .2s;
  display: inline-block;
  padding: 0 17.8px;
  line-height: 38px; }
  .prices-modal .button:hover {
    background: #37b34a; }

.search {
  padding: 30px 0;
  background: #f5f3f3;
  position: relative; }
  @media (max-width: 760px) {
    .search {
      padding-bottom: 60px; } }
  .search .search-block {
    position: relative;
    padding-right: 37px; }
    @media (max-width: 1400px) {
      .search .search-block {
        max-width: 540px;
        margin: 0 auto; } }
    .search .search-block input {
      width: 100%;
      padding: 6px; }
    .search .search-block button {
      border: none;
      width: 37px;
      height: 37px;
      background: #3dcd58;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 37px;
      text-align: center;
      font-size: 1.3em; }
  .search .open-btn {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 35px;
    background: #33a3bc;
    bottom: 0;
    right: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px; }
    @media (max-width: 760px) {
      .search .open-btn {
        right: 50%;
        -ms-transform: translateX(50%);
            transform: translateX(50%); } }
    .search .open-btn:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent #f5f5f5  transparent;
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

td.devider {
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #333333; }
