{% if main.is_image and main.is_video %}
	<section class="main-bg {{ classpage }}-bg">
	  <div class="main-container">
	    <div class="text">
	      <p>{{ main.title_main }}</p>
	    </div>
	  </div>
	</section>
{% elseif not main.is_image and not main.is_video %}
	<section class="main-bg {{ classpage }}-bg">
	  <div class="main-container">
	    <div class="text">
	      <p>{{ main.title_main }}</p>
	    </div>
	  </div>
	</section>
{% elseif main.is_image %}
	<section class="main-bg {{ classpage }}-bg" style="background-image: url({{ main.image.path }})">
	  <div class="main-container">
	    <div class="text">
	      <p>{{ main.title_main }}</p>
	    </div>
	  </div>
	</section>
{% elseif main.is_video %}
	<section class="main-bg">
      <div class="image-holder">
        <video autoplay="autoplay" muted loop="loop" class="fit-img">
          <source src="{{ main.video.path }}" type="video/mp4">
        </video>
        <div class="main-container">
          <div class="text">
            <p>{{ main.title_main }}</p>
          </div>
        </div>
      </div>
    </section>
{% else %}
	<section class="main-bg {{ classpage }}-bg">
	  <div class="main-container">
	    <div class="text">
	      <p>{{ main.title_main }}</p>
	    </div>
	  </div>
	</section>
{% endif %}