<p class="pull-right" style="font-size: 18px; padding: 0; margin: 0; text-align: right">
<a class="btn btn-primary oc-icon-list" href="<?=Backend::url('romanov/bsbip/ips')?>">
    <?= e(trans('romanov.bsbip::lang.iplist.title'))?>
</a>
</p>
<p class="pull-left" style="font-size: 18px; padding: 0; margin: 0; text-align: left">
    <?= e(trans('romanov.bsbip::lang.settings.current_ip'))?>
    <strong><?= \Request::getClientIp()?></strong>
</p>