description = "Default layout"

[navigation]
[footer]
[seo]

[cell_back cell_back_form]
partial = "modal-cell-back.htm"

[formedpath]

==
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% component 'seo' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/icons/favicons/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" href="{{ 'assets/img/icons/favicons/favicon-32x32.png'|theme }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/img/icons/favicons/favicon-16x16.png'|theme }}" sizes="16x16">
    <link rel="manifest" href="{{ 'assets/img/icons/favicons/manifest.json'|theme }}">
    <link rel="mask-icon" href="{{ 'assets/img/icons/favicons/safari-pinned-tab.svg'|theme }}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% styles %}
      <link href="{{ [
          'assets/css/main.css',
          'assets/css/fonts.css',
          'assets/vendor/normalize-css/normalize.min.css',
          'assets/vendor/font-awesome/css/font-awesome.min.css',
          'assets/vendor/animate.css/animate.min.css',
          'assets/vendor/bxslider-4/dist/jquery.bxslider.min.css'
      ]|theme }}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script">
  </head>
  <body>
  <section class="top-line-holder">
    <div class="top-line fixed">
      <div class="main-container logos">
        <div class="inline-holder">
          <!-- <div class="left-part inline-el">
            <div class="image-holder"><a href="{{ 'home'|page }}"><img src="{{ 'assets/img/icons/global-images-logo.png'|theme }}" alt=""></a></div>
          </div>
          <div class="right-part inline-el">
            <div class="image-holder"><a href="http://www.gettyimages.com/" target="_blank"><img src="{{ 'assets/img/icons/gettyimg.png'|theme }}" alt=""></a></div>
          </div> -->
        </div>
      </div>
      {% component 'navigation' %}
      </div>
    </section>
    {% page %}
    {% component 'footer' %}
    {% placeholder putBlockCatefories %}
    
    
    {% flash %}
        <p
            data-control="flash-message"
            class="flash-message fade {{ type }}"
            data-interval="5">
            {{ message }}
        </p>
    {% endflash %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TX5N6Q8');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TX5N6Q8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>

  <script src="{{ [
          'assets/vendor/jquery/dist/jquery.min.js',
          'assets/vendor/jquery.browser/dist/jquery.browser.min.js',
          'assets/vendor/smoothscroll-for-websites/SmoothScroll.min.js',
          'assets/vendor/wow/dist/wow.min.js',
          'assets/vendor/bxslider-4/dist/jquery.bxslider.min.js',
          'assets/js/lazyload.min.js',
          'assets/js/main.min.js',
      ]|theme }}"></script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD09gZY2fkBhBp213AAKuNXU7rOHnV1uz4&amp;callback=initMap" async defer></script>

  {% framework extras %}
  {% scripts %}
</html>