url = "/contact-form"
[cell_back]

[cell_back]
partial = "cell-form.htm"
==
 
<?php
	function onEnd()
	{
		$this->page->title = 'Отправить запрос';
	}
?>

==
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ this.page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    {% styles %}
      <link href="{{ [
          'assets/css/main.css',
          'assets/css/fonts.css',
          'assets/vendor/normalize-css/normalize.css',
          'assets/vendor/font-awesome/css/font-awesome.min.css',
          'assets/vendor/animate.css/animate.css',
          'assets/vendor/bxslider-4/dist/jquery.bxslider.min.css'
      ]|theme }}" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script">
      <script src="{{ 'assets/vendor/jquery/dist/jquery.js'|theme }}"></script>
  </head>
  <body>
    {% component 'cell_back' %}
  </body>
  <script src="{{ 'assets/vendor/jquery.browser/dist/jquery.browser.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/smoothscroll-for-websites/SmoothScroll.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/wow/dist/wow.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/bxslider-4/dist/jquery.bxslider.min.js'|theme }}"></script>

  <script src="{{ 'assets/js/main.js'|theme }}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbiWDuTu93dbTnJpUDshix6zDZpMYVglc&amp;callback=initMap" async defer></script>f

  {% framework extras %}
  {% scripts %}
</html>
