{% if contacts|length > 0 %}
	<section class="team-section">
	  <div class="main-container">
	    <h2>{{ 'Встречайте Команду'|_ }}</h2>
	    <div class="inline-holder">
	    	{% for contact in contacts %}
		    	<div class="contact-block inline-el">
			      <div class="text-holder">
			        <p>{{ contact.title }}</p
			        <p>{{ contact.second_email }}</p>
			      </div>
			      <div class="image-holder"><img src="{{ contact.image.thumb(360, 'auto') }}" alt="{{ contact.title }}" class="fake-img">
					  <div data-bg="{{ contact.image.thumb(360, 'auto') }}" class="img lazy"></div>
			        <div class="description-holder">
			          <div class="text">
			            <a href="mailto:{{ contact.email }}"><p>{{ contact.email }}</p></a>
			          </div>
                          </div></div>
                    </div>
		    {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}