{% if articles|length > 0 %}
	<section class="photo-collections news">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for article in articles %}
          {% if article.is_image  %}
                <div class="inline-el">
                    <h2 class="lite">{{ article.title }}</h2>
                    <div class="image-holder"><img src="{{ article.image.thumb(550, 'auto') }}" alt="{{ article.title }}" class="fake-img">
                      <div style="background-image: url({{ article.image.thumb(550, 'auto') }})" class="img"></div>
                      <div class="description-holder">
                        <p>{{ article.description|raw|trim|striptags }}</p>
                        <a href="{{ article.link ? article.link : '#' }}" class="button">{{ article.botton_tittle ? article.botton_tittle : 'View collection'|_ }}</a>
                      </div>
                    </div>
                  </div>
              {% elseif article.is_video %}
                  <div class="inline-el">
                    <h2 class="lite">{{ article.title }}</h2>
                    <div class="image-holder">
                      <video autoplay="autoplay" muted loop="loop" class="fit-img">
                        <source src="{{ article.video.path }}" type="video/mp4">
                      </video>
                      <div class="description-holder">
                        <p>{{ article.description|raw|trim|striptags }}</p>
                        <a href="{{ article.link ? article.link : '#' }}" class="button">{{ article.botton_tittle ? article.botton_tittle : 'View collection'|_ }}</a>
                      </div>
                    </div>
                  </div>
              {% endif %}
            {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}