{% if main.is_slide %}

	{% if main.slider|length > 0 %}
	  <section class="top-slider">
	    <div class="slider-container">
	      <div class="viewport">
	        <ul class="carousel">
	          {% for slide in main.slider %}
	            {% if slide.is_photo %}
	              {% if slide.link %}
	              <a href="{{ slide.link }}" target="_blank">
	              {% endif %}
	              <li class="slide">
	                <div class="image-holder"><img src="{{ slide.image.path }}" alt="{{ slide.title }}" class="fake-img">
						<div data-bg="{{ slide.image.path }}" class="img lazy"></div>
	                  <div class="text-holder">
	                    <p>{{ slide.name }}</p>
	                  </div>
	                </div>
	              </li>
	              {% if slide.link %}
	              </a>
	              {% endif %}
	            {% elseif slide.is_video %}
	              {% if slide.link %}
	              <a href="{{ slide.link }}" target="_blank">
	              {% endif %}
	              <li class="slide">
	                <div class="image-holder">
	                  <video autoplay="autoplay" muted loop="loop" class="fit-img">
	                  <source src="{{ slide.video.path }}" type="video/mp4">
	                </video>
	                </div>
	                <div class="text-holder">
	                  <p>{{ slide.name }}</p>
	                </div>
	              </li>
	              {% if slide.link %}
	              </a>
	              {% endif %}
	            {% endif %}
	          {% endfor %}
	        </ul>
	      </div>
	    </div>
	  </section>
	{% endif %}

{% else %}
	{% if main.is_image and main.is_video %}
		<section class="main-bg {{ classpage }}-bg">
		  <div class="main-container">
		    <div class="text">
		      <p>{{ main.title_main }}</p>
		    </div>
		  </div>
		</section>
	{% elseif not main.is_image and not main.is_video %}
		<section class="main-bg {{ classpage }}-bg">
		  <div class="main-container">
		    <div class="text">
		      <p>{{ main.title_main }}</p>
		    </div>
		  </div>
		</section>
	{% elseif main.is_image %}
		<section class="main-bg {{ classpage }}-bg" style="background-image: url({{ main.image.path }})">
		  <div class="main-container">
		    <div class="text">
		      <p>{{ main.title_main }}</p>
		    </div>
		  </div>
		</section>
	{% elseif main.is_video %}
		<section class="main-bg">
	      <div class="image-holder">
	        <video autoplay="autoplay" muted loop="loop" class="fit-img">
	          <source src="{{ main.video.path }}" type="video/mp4">
	        </video>
	        <div class="main-container">
	          <div class="text">
	            <p>{{ main.title_main }}</p>
	          </div>
	        </div>
	      </div>
	    </section>
	{% else %}
		<section class="main-bg {{ classpage }}-bg">
		  <div class="main-container">
		    <div class="text">
		      <p>{{ main.title_main }}</p>
		    </div>
		  </div>
		</section>
	{% endif %}
{% endif %}