<div>
    <?php if ($record['left_image']): ?>
        <img style="border:0px; paddind:0px;margin:0px" src="<?= $record['left_image']->getThumb(50, 50, 'crop') ?>" >
    <?php endif ?>
    <?php if ($record['center_image']): ?>
        <img style="border:0px; paddind:0px;margin:0px" src="<?= $record['center_image']->getThumb(50, 50, 'crop') ?>" >
    <?php endif ?>
    <?php if ($record['right_image']): ?>
        <img style="border:0px; paddind:0px;margin:0px" src="<?= $record['right_image']->getThumb(50, 50, 'crop') ?>" >
    <?php endif ?>
</div>