<div class="container">
    <div class="block_login">
    {% if user %}
        <form
          class="clearfix"
          id="edit_profile"
          data-request="onUpdate"
        >
            <h3>{{ 'My account'|_ }}</h3>
            <div class="row inline-layout">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'Name'|_ }}" name="name" data-validate="name" value="{{ user.name }}">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="{{ 'Surname'|_ }}" name="surname" data-validate="name" value="{{ user.surname }}">
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="email" placeholder="{{ 'E-mail'|_ }}" data-validate="email" value="{{ user.email }}">
            </div>
            <div class="row inline-layout">
                <div class="form-group">
                    <input type="password" name="old_password" placeholder="{{ 'Old password'|_ }}" data-validate="password-default" value="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="{{ 'New password'|_ }}" data-validate="password-default" value="">
                </div>
            </div>
            <div class="row text-right inline-layout">
                <div class="form-group checkbox">
                    <input type="checkbox" name="subscribe" id="subscribe_newsletter" {{ user.is_subscribe ? 'checked' : '' }}>
                    <label for="subscribe_newsletter">{{ 'Subscribe to newsletter'|_ }}</label>
                </div>
                <input class="submit" type="submit" value="Save">

                <a data-request="onLogout" data-request-data="redirect: '/'" class="submit">{{ 'Logout'|_ }}</a>
            </div>
        </form>
        {% endif %}
    </div>
</div>