{% if subs|length > 0 %}
	<section class="subscriptions">
	  <div class="main-container">
	    <div class="inline-holder">
			{% for sub in subs|batch(3) %}
				<div class="inline-el">
					<div class="subscription-block">
						{% if loop.index == 1 %}
							<div class="image-holder getty"><img src="{{ 'assets/img/icons/gettyimg.png'|theme }}" alt=""></div>
						{% else %}
							<div class="image-holder istock"><img src="{{ 'assets/img/icons/istock-logo.svg'|theme }}" alt=""></div>
						{% endif %}
						
			{% for item in sub %}
				{% if loop.index == 1 %}
						<div class="text-holder main">
				          <p>{{ item.description|raw }}</p>
				        </div>
			        </div>
				{% else %}
				<div class="subscription-block">
					<h2>{{ item.title }}</h2>
					<div class="text-holder">
			          <p>{{ item.description|raw }}</p>
			        </div>
		        </div>
		        {% endif %}

			{% endfor %}
				</div>
			{% endfor %}
	      
	    </div>
	  </div>
	</section>
{% endif %}
<section class="call-us">
  <div class="main-container">
    
    <div class="description-holder">
      <h4>{{ 'Почему iStock by Getty Images?'|_ }}</h4>
      <p>{{ page.description|raw }}{% if link.link %}</p><a href="http://www.istockphoto.com" target="_blank">{% endif %}{{ 'Искать на IStock'|_ }}</a>
    </div>
  </div>
</section>