{% if pages|length > 0 %}
	<div class="main-nav">
		<div class="nav-container">
			<ul class="inline-holder">
		  	{% for page in pages %}
		  		{% if page.type == 'page' %}
		  			<li class="inline-el"><a href="{{ page.cms_page|page }}" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
		  		{% elseif page.type == 'info_page' %}
		  			<li class="inline-el"><a href="/{{ page.slug }}" class="{% if viewBag.activeMenu == page.slug %}active{% endif %}">{{ page.title }}</a></li>
	  			{% else %}
	  				<li class="inline-el"><a href="{{ page.link }}" target="_blank" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
		  		{% endif %}
	    	{% endfor %}
		  </ul>
		  <div class="mobile-btn-holder">
		    <div id="m-nav-btn"><span></span><span></span><span></span></div>
		  </div>
		  <ul id="mobile-menu">
		  {% for page in pages %}
		  		{% if page.is_main %}
			  		{% if page.type == 'page' %}
			  			<li class="inline-el"><a href="{{ page.cms_page|page }}" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% elseif page.type == 'info_page' %}
			  			<li class="inline-el"><a href="/{{ page.slug }}" class="{% if viewBag.activeMenu == page.slug %}active{% endif %}">{{ page.title }}</a></li>
			  		{% else %}
			  			<li class="inline-el"><a href="{{ page.link }}" target="_blank" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% endif %}
		  		{% endif %}
	    	{% endfor %}
		  </ul>
		</div>
	</div>
{% endif %}