{% if show %}
	<section
		class="order"
		{% if info_setting_footer and info_setting_footer.image %}
			style="
			{% if page == '/photo' %}
				background: url({{ info_setting_footer.image.path }}) center top / cover no-repeat;
			{% elseif page == '/music' %}
				background: url({{ info_setting_footer.image_music.path }}) center top / cover no-repeat;
			{% elseif page == '/video' %}
				background: url({{ info_setting_footer.image_video.path }}) center top / cover no-repeat;
			{% endif %}
			"
		{% endif %}
	>
	  <h5>{{ 'Вы можете заказать тематическую подборку прямо здесь'|_ }}</h5>
	  <a id="orderBtn" href="{{ 'contact-form'|page }}?{{ utm_link }}" target="_blank" class="button">{{ 'Заказать'|_ }}</a>
	</section>
{% endif %}