<div>
    <?php if ($record['is_image'] && $record['image']): ?>
        <img style="border:0px; paddind:0px;margin:0px" src="<?= $record['image']->getThumb(50, 50, 'crop') ?>" >
    <?php elseif ($record['is_video'] && $record['video']): ?>
		<video style="border:0px; paddind:0px;margin:0px" src="<?= $record['video']->getThumb(50, 50, 'crop') ?>" width="100">
    <?php endif ?>
</div>