{% if photos|length > 0 %}
	<section class="photo-collections">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for photo in photos %}
			    <div class="inline-el">
			        <h2>{{ photo.title }}</h2>
			        <div class="image-holder"><img src="{{ photo.image.path }}" alt="{{ photo.title }}" class="fake-img">
						<div data-bg="{{ photo.image.path }}" class="img lazy"></div>
			          <div class="description-holder">
			            <p>{{ photo.description|raw|trim|striptags }}</p>
			            <a href="{{ photo.link }}" class="button">{{ 'View collection'|_ }}</a>
			            <a href="#" data-modal="#photo-{{ photo.id }}" class="button button-left">{{ 'Цены'|_ }}</a>
			          </div>
			        </div></div>
		        {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}