{% if videos|length > 0 %}
	<section class="photo-collections">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for video in videos %}
          {% if video.is_image  %}
                <div class="inline-el">
                    <h2>{{ video.title }}</h2>
                    <div class="image-holder"><img src="{{ video.image.thumb(550, 'auto') }}" alt="{{ video.title }}" class="fake-img">
                      <div style="background-image: url({{ video.image.thumb(550, 'auto') }})" class="img"></div>
                      <div class="description-holder">
                        <p>{{ video.description|raw|trim|striptags }}</p>
                        <a href="{{ video.link ? video.link : '#' }}" class="button">{{ 'View collection'|_ }}</a>
                        <a href="#" data-modal="#video-{{ video.id }}" class="button button-left">{{ 'Цены'|_ }}</a>
                      </div>
                    </div>
                  </div>
              {% elseif video.is_video %}
                  <div class="inline-el">
                    <h2>{{ video.title }}</h2>
                    <div class="image-holder">
                      <video autoplay="autoplay" muted loop="loop" class="fit-img">
                        <source src="{{ video.video.path }}" type="video/mp4">
                      </video>
                      <div class="description-holder">
                        <p>{{ video.description|raw|trim|striptags }}</p>
                        <a href="{{ video.link ? video.link : '#' }}" class="button">{{ 'View collection'|_ }}</a>
                        <a href="#" data-modal="#video-{{ video.id }}" class="button button-left">{{ 'Цены'|_ }}</a>
                      </div>
                    </div>
                  </div>
              {% endif %}
            {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}

