{% if advantages|length > 0 %}
	<section class="about">
	  <div class="main-container">
	    <h2>{{ 'Почему выгодно работать с нами?'|_ }}</h2>
	    <div class="inline-holder">
	    	{% for advantage in advantages %}
		      <div class="inline-el">
		        <h3 class="ellipsis-text">{{ advantage.title }}</h3>
		        <p>{{ advantage.description|raw }}</p>
		      </div>
	     	{% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}