{% if services|length > 0 %}
	<section class="photo-collections services">
	  <div class="main-container">
	    <div class="inline-holder">
    		{% for service in services %}
		        <div class="inline-el">
		            <h2>{{ service.title }}</h2>
		            <div class="image-holder"><img src="{{ service.image.thumb(550, 'auto') }}" alt="img/content/collectionsitem1.jpg" class="fake-img">
		              <div style="background-image: url({{ service.image.thumb(550, 'auto') }})" class="img"></div>
		              <div class="description-holder">
		                <p>{{ service.description|raw }}</p>
		                <a href="{{ service.link }}" class="button">{{ service.search ?: 'View collection'|_ }} </a>
		              </div>
		            </div></div>
	        {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}