<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('intertech/globalsite/typequeris') ?>">Запросы</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating TypeQueri..."
                    class="btn btn-primary">
                    Создать
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating TypeQueri..."
                    class="btn btn-default">
                    Создать и выйти
                </button>
                <span class="btn-text">
                    или <a href="<?= Backend::url('intertech/globalsite/typequeris') ?>">Отмена</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('intertech/globalsite/typequeris') ?>" class="btn btn-default">Вернуться к списку запросов</a></p>

<?php endif ?>