<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/subscriptions/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать подписку
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/subscriptions/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать подписки
    </a>
</div>