{% if sliders|length > 0 %}
  <section class="top-slider">
    <div class="slider-container">
      <div class="viewport">
        <ul class="carousel">
          {% for slide in sliders %}
            {% if slide.is_image %}
              {% if slide.link %}
              <a href="{{ slide.link }}" target="_blank">
              {% endif %}
              <li class="slide">
                <div class="image-holder"><img src="{{ slide.image.path }}" alt="{{ slide.title }}" class="fake-img">
                  <div style="background-image: url({{ slide.image.path }})" class="img"></div>
                  <div class="text-holder">
                    <p>{{ slide.description|raw }}</p>
                  </div>
                </div>
              </li>
              {% if slide.link %}
              </a>
              {% endif %}
            {% elseif slide.is_video %}
              {% if slide.link %}
              <a href="{{ slide.link }}" target="_blank">
              {% endif %}
              <li class="slide">
                <div class="image-holder">
                  <video autoplay="autoplay" muted loop="loop" class="fit-img">
                  <source src="{{ slide.video.path }}" type="video/mp4">
                </video>
                </div>
                <div class="text-holder">
                  <p>{{ slide.description|raw }}</p>
                </div>
              </li>
              {% if slide.link %}
              </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}