<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/photos/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать фото
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/photos/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать фотографии
    </a>
</div>