<div class="main-modal open">
  <div class="top-line">
    <div class="main-container logos">
      <div class="inline-holder">
        <div class="left-part inline-el">
          <div class="image-holder"><a href="{{ 'home'|page }}"><img src="{{ 'assets/img/icons/global-images-logo.png'|theme }}" alt="{{ this.page.title }}"></a></div>
        </div>
        <div class="right-part inline-el">
          <div class="image-holder"><a href="{{ 'home'|page }}"><img src="{{ 'assets/img/icons/gettyimg.png'|theme }}" alt="{{ this.page.title }}"></a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-holder">
      <form
	  	  data-request="onSendRequest"
        data-request-success="
          if (data.success) {
            $('form input').val(' ');
            $('textarea').val(' ');
          } else if (data.message) {
            alert('Поле текст должно содержать не более 240 символов')
          }
        "
  	  >
        <div class="inline-holder">
          <div class="contacts inline-el mobile">
            <h3>{{ 'Связаться с нами'|_ }}</h3>
            {{ contact_us.about_address|raw }}
            <p><a href="tel: {{ contact_us.phone }}">{{ 'Tel'|_ }}:{{ contact_us.phone }}</a></p>
            {% if contact_us.email %}
              <p><a href="mailto:{{ contact_us.email }}">{{ 'Email'|_ }}: {{ contact_us.email }}</a></p>
            {% endif %}
          </div>
          <div class="inputs inline-el">
            <h3>{{ 'Отправить запрос'|_ }}</h3>
            <div class="form-group">
              <label for="">Выбрать тип запроса</label>
              <select name="ask">#(name="")
                <option selected disabled></option>
                {% for type in types %}
                  <option value="{{ type.title }}">{{ type.title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="">{{ 'Имя'|_ }}</label>
              <input type="text" name="name">
            </div>
            <div class="form-group">
              <label for="">E-mail</label>
              <input type="text" name="email">
            </div>
            <div class="form-group">
              <label for="">{{ 'Телефон'|_ }}</label>
              <input type="text" name="phone">
            </div>
            <div class="form-group">
              <div class="comment">
                <label for="">{{ 'Текст'|_ }}</label>
                <textarea id="textarea" name="message"></textarea>
              </div>
              <button>{{ 'Отправить'|_ }}</button>
            </div>
          </div>
          <div class="contacts inline-el">
            <h3>{{ contact_us.cu_title }}</h3>
            <h5>{{ contact_us.cu_company }}</h5>
            {{ contact_us.cu_description|raw }}
            <div class="devider"></div>
            {% if contact_us.cu_phone %}
              <p><a href="tel: {{ contact_us.cu_phone }}">{{ 'Tel'|_ }}:{{ contact_us.cu_phone }}</a></p>
              <p><a href="tel: +38 (044) 277 99 66">Tel:<span class="red-col"></span>+38 (044) 277 99 66</a></p>
            {% endif %}
            {% if contact_us.cu_email %}
              <p><a href="mailto:{{ contact_us.cu_email }}">{{ 'Email'|_ }}: {{ contact_us.cu_email }}</a></p>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
</div>