<div data-control="toolbar">
    <a
            href="javascript:;"
            onclick="$.ipList.createRecord()"
            class="btn btn-primary oc-icon-plus">
        <?= e(trans('romanov.bsbip::lang.iplist.create'))?>
    </a>
    <button
            class="btn btn-danger oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDeleteSelected"
            data-request-confirm="<?= e(trans('romanov.bsbip::lang.iplist.delete_selected'))?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <span class="btn btn-default disabled oc-icon-info">
    <?= e(trans('romanov.bsbip::lang.settings.current_ip'))?>
    <strong><?= \Request::getClientIp()?></strong>
    </span>
</div>