<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/contacts/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать контакт
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/contacts/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать контакты
    </a>
</div>