<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/musics/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать музыку
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/musics/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать музыки
    </a>
</div>