<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/gettyimages/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/gettyimages/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать записей
    </a>
</div>