{% if galeries|length > 0 %}
	<section class="mini-galery">
      <div class="main-container">
        <div class="inline-holder">
	    {% for galery in galeries %}
			<div class="inline-el">
				<a href="{{ galery.link }}">
					<div class="image-holder"><img src="{{ galery.image.thumb(390, 260) }}" alt="{{ galery.title }}" class="fake-img">
					<div style="background-image: url({{ galery.image.thumb(390, 260) }})" class="img"></div>
					</div>
				</a>
			</div>
         {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}