      <div class="prices-container">
        <div class="prices-modal modal-sibling"><a href="#" class="prices-close"></a>
          <div class="modal-head"><span class="modal-title">Новостные видео</span>
            <div class="scroll-holder">
              <ul class="tabs inline-holder">
                <li class="inline-el"><a href="#for-company">Для Компании</a></li>
                <li class="inline-el"><a href="#for-news1">Для новостей</a></li>
              </ul>
            </div>
          </div>
          <div class="scroll-holder">
            <div class="prices-content">
              <table id="for-company">
                <tbody>
                  <tr>
                    <th>Для WEB + SMM</th>
                    <th>Для PR компании</th>
                    <th>Для PRINT издания</th>
                  </tr>
                  <tr>
                    <td>
                      <bold>От 10$/фото</bold>
                    </td>
                    <td>
                      <bold>От 1$/фото</bold>
                    </td>
                    <td>
                      <bold>От 100$/фото</bold>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                  </tr>
                </tbody>
              </table>
              <table id="nusic-4">
                <tbody>
                  <tr>
                    <th>Для WEB + SMM</th>
                    <th>Для WEB + SMM</th>
                    <th>Для PR компании</th>
                  </tr>
                  <tr>
                    <td>
                      <bold>От 1000$/фото</bold>
                    </td>
                    <td>
                      <bold>От 1$/фото</bold>
                    </td>
                    <td>
                      <bold>От 150$/фото</bold>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                    <td><a href="#" class="button js-open-order">Заказать</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <script src="{{ 'assets/js/main.js'|theme }}"></script>