<div class="form-holder">
  <form
    data-request="onSendRequest"
    data-request-success="
      if (data.success) {
        $('form input').val(' ');
        $('textarea').val(' ');
      } else if (data.message) {
        alert('Поле текст должно содержать не более 240 символов')
      }
    "
  >
    <div class="inline-holder">
      <!-- <div class="contacts inline-el mobile"> -->
        <!-- <h3>{{ 'Связаться с нами'|_ }}</h3>
        {{ contact_us.about_address|raw }}
        <p><a href="tel:{{ contact_us.phone }}">{{ 'Tel'|_ }}:{{ contact_us.phone }}</a></p>
        {% if contact_us.email %}
          <p><a href="mailto:{{ contact_us.email }}">{{ 'Email'|_ }}: {{ contact_us.email }}</a></p>
        {% endif %}
      </div> -->
      <div class="inputs inline-el">
        {% if utm %}
          <h3>{{ utm.title }}</h3>
          <input type="hidden" name="utm_id" value="{{ utm.id }}">
        {% else %}
          <h3>{{ 'Отправить запрос'|_ }}</h3>
        {% endif %}
        <!-- <div class="form-group">
          <label for="">Выбрать тип запроса</label>
          <select name="ask">#(name="")
            <option selected disabled></option>
            {% for type in types %}
              <option value="{{ type.title }}">{{ type.title }}</option>
            {% endfor %}
          </select>
        </div> -->
        <div class="form-group">
          <label for="">{{ 'Имя'|_ }}</label>
          <input type="text" name="name">
        </div>
        <div class="form-group">
          <label for="">E-mail</label>
          <input type="text" name="email">
        </div>
        <div class="form-group">
          <label for="">{{ 'Телефон'|_ }}</label>
          <input type="text" name="phone">
        </div>
        <div class="form-group">
          <div class="comment">
            <label for="">{{ 'Текст'|_ }}</label>
            <textarea id="textarea" name="message"></textarea>
          </div>
          <button>{{ 'Отправить'|_ }}</button>
        </div>
      </div>
      <div class="contacts inline-el">
        <h3>{{ contact_us.cu_title }}</h3>
        <h5>{{ contact_us.cu_company }}</h5>
        {{ contact_us.cu_description|raw }}
        <div class="devider"></div>
        {% if utm.phone %}
              <p><a href="tel: {{ utm.phone }}">{{ 'Tel'|_ }}: {{ utm.phone }}</a></p>
        {% else %}
          {% if contact_us.cu_phone %}
            <p><a href="tel: {{ contact_us.cu_phone }}">{{ 'Tel'|_ }}: {{ contact_us.cu_phone }}</a></p>
          {% endif %}
        {% endif %}
        {% if utm.email %}
            <p><a href="mailto:{{ utm.email }}">{{ 'Email'|_ }}: {{ utm.email }}</a></p>
        {% else %}
          {% if contact_us.cu_email %}
            <p><a href="mailto:{{ contact_us.cu_email }}">{{ 'Email'|_ }}: {{ contact_us.cu_email }}</a></p>
          {% endif %}
        {% endif %}
        </br>
        <div class="map-holder inline-el">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </form>
</div>