<html lang="en"><head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body style="background-color:#e9e9e9;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-family:Arial, Helvetica, sans-serif !important;font-size:14px;" >
  <table style="width:726px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-collapse:collapse;border-style:none;font-size:inherit;" >
    <tbody>
      <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
        <td class="black-bg"  colspan="2" style="height:20px;border-collapse:collapse;border-style:none;font-size:inherit;background-color:#000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" ></td>
      </tr>
      <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
        <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
          <table cellpadding="20" class="container images-top" style="width:100%;border-style:none;font-size:inherit;border-collapse:initial;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:11px;padding-bottom:10px;" >
            <tbody>
              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                <td style="border-collapse:collapse;border-style:none;font-size:inherit;" ><a href="{{ setting.gettyimages_link }}"><img src="{{ 'assets/img/mail/logo-1.png'|theme }}" alt=""></a></td>
                <td class="text-right" style="border-collapse:collapse;border-style:none;font-size:inherit;text-align:right;" ><a href="{{ setting.globalimages_link }}"><img src="{{ 'assets/img/mail/logo-2.png'|theme }}" alt=""></a></td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="20" class="container white-bg main-img" style="width:100%;border-style:none;font-size:inherit;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:45px;border-collapse:initial;" >
            <tbody>
              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                  <img src="https://globalimages.com.ua/{{ setting.image.getPath }}" alt="">
                </td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="20" class="container white-bg" style="width:100%;border-style:none;font-size:inherit;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-collapse:initial;" >
            <tbody>
              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                  <div class="text-holder" style="margin-top:17px;" >
                    <h3 style="font-size:1.2em;" >Здравствуйте {{ name }}!</h3>
                    <p>
                      Спасибо, что обратились к нам с Запросом "{{ ask }}".
                      <br>
                      Мы работаем над Запросом и ответим Вам в течении ближайшего времени.
                    </p>
                    <p>
                      С уважением,
                    </p>
                    <p>
                      Команда Global Images Ukraine
                      <br>
                      Getty Images Master Delegate
                    </p>
                  </div>
                  <div class="text-holder" style="margin-top:17px;" >
                    <h3 style="font-size:1.2em;" >Ваш запрос:</h3>
                    <p>
                      Дата и время получения: {{ date }}
                      <br>
                      Имя отправителя: {{ name }}
                      <br>
                      Тема запроса: {{ ask }}
                      <br>
                      Телефон: {{ phone }}
                      <br>
                      Email: {{ email }}
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="20" class="container white-bg" style="width:100%;border-style:none;font-size:inherit;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-collapse:initial;" >
            <tbody>
              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                  <table align="center" style="margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;width:223px;border-collapse:collapse;border-style:none;font-size:inherit;" >
                    <tbody>
                      <tr class="start-btn" style="border-collapse:collapse;border-style:none;display:inline-block;background-color:#f3c;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#fff;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;text-decoration:none;font-size:21px;font-weight:600;text-align:center;" >
                        <td style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                          <a href="{{ setting.exploring }}" style="color:#fff;text-decoration:none;" >Start exploring now</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
        <td  colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
          <table class="black-bg footer" style="width:100%;border-collapse:collapse;border-style:none;font-size:inherit;background-color:#000;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;margin-top:19px;" >
            <tbody>
              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                  <table cellpadding="20" class="container footer-top" style="width:100%;border-style:none;font-size:inherit;padding-top:33px;border-collapse:initial;color:#fff;" >
                    <tbody>
                      <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                        <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                          <table style="width:100%;border-collapse:collapse;border-style:none;font-size:inherit;color:#fff;" >
                            <tbody>
                              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                                <td class="table-50" style="border-collapse:collapse;border-style:none;font-size:inherit;width:50%;" >
                                  <table class='foot-links' style="width:100%;border-collapse:collapse;border-style:none;font-size:inherit;color:#fff;" >
                                    <tbody>
                                      <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                                        <td style="border-collapse:collapse;border-style:none;font-size:inherit;" ><a href="{{ setting.creative_image }}" style="text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;color:inherit;" >Creative images</a>  /</td>
                                        <td style="border-collapse:collapse;border-style:none;font-size:inherit;" ><a href="{{ setting.editorial_photos }}" style="text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;color:inherit;" >Editorial  photos</a>  /</td>
                                        <td style="border-collapse:collapse;border-style:none;font-size:inherit;" ><a href="{{ setting.video }}" style="text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;color:inherit;" >Video</a>   /</td>
                                        <td style="border-collapse:collapse;border-style:none;font-size:inherit;" ><a href="{{ setting.music }}" style="text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;color:inherit;" >Music</a>   /</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td class="table-50" style="border-collapse:collapse;border-style:none;font-size:inherit;width:50%;" >
<table class="socials" style="border-collapse:collapse;border-style:none;font-size:inherit;width:auto;float:right;color:#fff;" >
<tbody>
<tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
<td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;" ><span>Follow us:</span></td>
<td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;" ><img src="{{ 'assets/img/mail/s-1.gif'|theme }}" alt=""></td>
<td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;" ><img src="{{ 'assets/img/mail/s-2.gif'|theme }}" alt=""></td>
<td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;" ><img src="{{ 'assets/img/mail/s-3.gif'|theme }}" alt=""></td>
<td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;" ><img src="{{ 'assets/img/mail/s-4.gif'|theme }}" alt=""></td>
</tr>
</tbody>
</table>
</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="description-table" style="width:100%;border-style:none;font-size:12px;color:#515151;text-align:center;padding-top:30px;border-collapse:initial;" >
                            <tbody>
                              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                                <td colspan="2" style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                                  <p>
                                    Image credits:
                                    <a href="{{ setting.credits_number_link }}" style="color:inherit;text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;" >{{ setting.credits_number }},</a>
                                    <a href="{{ setting.credits_title_link }}" style="color:inherit;text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;" >{{ setting.credits_title }}</a>
                                  </p>
                                  <p>
                                    {{ setting.address }} тел.: 
                                    <a href="tel:{{ setting.address_phone }}" class="phone" style="text-decoration:none;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#0000ef;color:#0000ef;" >{{ setting.address_phone }}</a>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="nav-table" style="border-style:none;width:250px;font-size:12px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:30px;padding-bottom:30px;padding-right:0px;padding-left:0px;border-collapse:initial;color:#fff;" >
                            <tbody>
                              <tr style="border-collapse:collapse;border-style:none;font-size:inherit;" >
                              {% for site in setting.sites %}
                                <td style="border-collapse:collapse;border-style:none;font-size:inherit;padding-top:4px;padding-bottom:4px;padding-right:4px;padding-left:4px;color:#0000ef;" >
                                  <a href="{{ site.url }}" style="color:inherit;" >{{ site.name }}</a>
                                </td>
                              {% endfor %}
                              </tr>
                            </tbody>
                          </table>
                          <p class="reserved" style="text-align:center;color:#515151;font-size:12px;" >
                            ©{{ 'now'|date('Y') }} {{ setting.copyright }}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <style>
    body {
      background: #e9e9e9;
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 14px;
    }
    table {
      width: 100%;
    }
    tr,
    td,
    th,
    table {
      border-collapse: collapse;
      border: none;
      font-size: inherit;
    }
    .foot-links a {
      text-decoration: none;
      border-bottom: 1px solid #0000ef;
    }
    .black-bg {
      background: #000;
    }
    .black-bg table {
      color: #fff;
    }
    .black-bg table a {
      color: inherit;
    }
    .white-bg {
      background: #fff;
    }
    .black-bg .description-table {
      font-size: 12px;
      color: #515151;
      text-align: center;
      padding-top: 30px;
      border-collapse: initial;
    }
    .black-bg .description-table a {
      text-decoration: none;
      border-bottom: 1px solid #0000ef;
    }
    .black-bg .description-table .phone {
      color:#0000ef;
    }
    .text-holder {
      margin-top: 17px;
    }
    .text-holder h3 {
      font-size: 1.2em;
    }
    .table-50 {
      width: 50%;
    }
    .main-img {
      padding-top: 45px;
    }
    .footer-top {
      color: #fff;
      padding-top: 33px;
    }
    .footer {
      margin-top: 19px;
    }
    .socials {
      width: auto;
      float: right;
    }
    .socials td {
      padding: 4px;
    }
    .container {
      border-collapse: initial;
    }
    .text-right {
      text-align: right;
    }
    .images-top {
      background: #fff;
      padding-top: 11px;
      padding-bottom: 10px;
    }
    center {
      max-width: 720px;
      margin: 0 auto;"
    }
    .nav-table {
      width: 250px;
      font-size: 12px;
      margin: 0 auto;
      padding: 30px 0px;
      border-collapse: initial;
    }
    .nav-table td {
      padding: 4px;
      color: #0000ef;
    }
    .btn-holder {
      text-align: center;
      margin-top: 7px;
      margin-bottom: 20px;
    }
    .start-btn {
      display: inline-block;
      background: #f3c;
      color: #fff;
      padding: 6px 12px;
      text-decoration: none;
      font-size: 21px;
      font-weight: 600;
      text-align: center;
    }
    .start-btn a {
      color: #fff;
      text-decoration: none;
    }
    .reserved {
      text-align: center;
      color: #515151;
      font-size: 12px;
    }
  </style>

</body></html>
