<div class="main-modal order-modal">

  <div class="form-holder">
    <a href="#" class="close-btn"></a>    
    <div class="top-line">
      <div class="main-container logos">
        <div class="inline-holder">
          <div class="left-part inline-el">
          {#
            <div class="image-holder"><a href="{{ 'home'|page }}"><img src="{{ 'assets/img/icons/global-images-logo.png'|theme }}" alt="{{ this.page.title }}"></a></div>
          #}
          </div>
          <div class="right-part inline-el">
          {#
            <div class="image-holder"><a href="{{ 'home'|page }}"><img src="{{ 'assets/img/icons/gettyimg.png'|theme }}" alt="{{ this.page.title }}"></a></div>
          #}
          </div>
        </div>
      </div>
    </div>
      <form
        data-request="onSendRequest"
        data-request-flash
        data-request-success="
          if (data.success) {
            $('form input').val(' ');
            $('textarea').val(' ');
          } else if (data.message) {
            alert('Поле текст должно содержать не более 240 символов')
          }
        "
        
      >
        <div class="inline-holder">
          <div class="inputs inline-el">
            {% if utm %}
              <h3>{{ utm.title }}</h3>
              <input type="hidden" name="utm_id" value="{{ utm.id }}">
            {% else %}
              <h3>{{ 'Отправить запрос'|_ }}</h3>
            {% endif %}
            <!-- <div class="form-group">
              <label for="">Выбрать тип запроса</label>
              <select name="ask">#(name="")
                <option selected disabled></option>
                {% for type in types %}
                  <option value="{{ type.title }}">{{ type.title }}</option>
                {% endfor %}
              </select>
            </div> -->
            <div class="form-group">
              <label for="">{{ 'Имя'|_ }}</label>
              <input type="text" name="name">
            </div>
            <div class="form-group">
              <label for="">E-mail</label>
              <input type="text" name="email">
            </div>
            <div class="form-group">
              <label for="">{{ 'Телефон'|_ }}</label>
              <input type="text" name="phone">
            </div>
            <div class="form-group">
              <div class="comment">
                <label for="">{{ 'Текст'|_ }}</label>
                <textarea id="textarea" name="message"></textarea>
                <div id="tops">
                  <input type="hidden" name="tops">
                </div>
              </div>
              <button>{{ 'Отправить'|_ }}</button>
            </div>
          </div>
          <div class="contacts inline-el">
            <h3>{{ contact_us.cu_title }}</h3>
            <h5>{{ contact_us.cu_company }}</h5>
            {{ contact_us.cu_description|raw }}
            <div class="devider"></div>
            {% if utm.phone %}
                  <p><a href="tel: {{ utm.phone }}">{{ 'Tel'|_ }}: {{ utm.phone }}</a></p>
            {% else %}
              {% if contact_us.cu_phone %}
                <p><a href="tel: {{ contact_us.cu_phone }}">{{ 'Tel'|_ }}: {{ contact_us.cu_phone }}</a></p>
                {#<p><a href="tel: +38 (044) 277 99 66">Tel: <!-- <span class="red-col"></span> -->+38 (044) 277 99 66</a></p>#}
              {% endif %}
            {% endif %}
            {% if utm.email %}
                <p><a href="mailto:{{ utm.email }}">{{ 'Email'|_ }}: {{ utm.email }}</a></p>
            {% else %}
              {% if contact_us.cu_email %}
                <p><a href="mailto:{{ contact_us.cu_email }}">{{ 'Email'|_ }}: {{ contact_us.cu_email }}</a></p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </form>
    </div>
</div>