{% if main.is_form_search and not disabled %}
	<section class="search">
      <div class="main-container">
        <form data-request="onSearch">
          <div class="search-block">
            <input type="text" name="word" placeholder="All {% if main.cms_page == 'video' %}video{% elseif main.cms_page == 'music' %}music{% else %}images{% endif %}">
            <button><i class="fa fa-search"></i></button>
          </div>
        </form>
        {#<a href="#" class="open-btn js-open-prices"></a>#}
      </div>
    </section>
{% endif %}

{% put putCategoriesBlocks %}
	<div class="main-modal black">
	  <div class="prices-container">
	  <a href="#" class="prices-close"></a>
	    <div class="prices-modal modal-parent">
	      <div class="modal-head"><span class="modal-title">{{ 'Тарифы и цены'|_ }}</span>
	          <ul class="tabs inline-holder">
	          {% for page in pages %}
	          	{% if page.cms_page == 'photo' %}
	          		<li class="inline-el">
	          		<a
	          			href="#photo"{{ realpage == 'photo' ? ' class="active"' : '' }}
	          			data-request="onFormedPath"
                		data-request-data="page_id: '{{ page.id }}'"
                		data-request-flash
          			>{{ page.title }}</a>
          		</li>
          		{% elseif page.cms_page == 'video' %}
          			<li class="inline-el">
          				<a
          					href="#video"{{ realpage == 'video' ? ' class="active"' : '' }}
          					data-request="onFormedPath"
                			data-request-data="page_id: '{{ page.id }}'"
                			data-request-flash
      					>{{ page.title }}</a></li>
				{% elseif page.cms_page == 'music' %}
					<li class="inline-el">
						<a 
							href="#music"{{ realpage == 'music' ? ' class="active"' : '' }}
							data-request="onFormedPath"
                			data-request-data="page_id: '{{ page.id }}'"
                			data-request-flash
						>{{ page.title }}</a></li>
				{% elseif page.cms_page == 'gettyimages' %}
					<li class="inline-el">
						<a
							href="#gettyimages"{{ realpage == 'gettyimages' ? ' class="active"' : '' }}
							data-request="onFormedPath"
                			data-request-data="page_id: '{{ page.id }}'"
                			data-request-flash
						>{{ page.title }}</a></li>
	          	{% endif %}
	          {% endfor %}
	          </ul>
	      </div>
	        <div class="prices-content">
	        {% if photos|length > 0 %}
	          <table id="photo"{{ realpage == 'photo' ? ' class="active"' : '' }}>
	            <tbody>
	              <tr>
	              	{% for photo in photos %}
	                	<th>{{ photo.title }}</th>
	                {% endfor %}
	              </tr>
	              <tr>
	              {% for photo in photos %}
	                <td>
	                	<a
	                		href="/photo?hash={{ photo.id }}#photo-category-{{ photo.id }}"
                			class="button"
                			data-modal="#photo-{{ photo.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ photo.id }}', cms_page: 'photo'"
                			data-request-flash
                		 >{{ 'Детальнее'|_ }}</a>
                	</td>
                {% endfor %}
	              </tr>
	              	{% for photo in photos %}
	              	<tr class="mobile">
	                  <th>{{ photo.title }}</th>
	                  <td><a
	                		href="/photo?hash={{ photo.id }}#photo-category-{{ photo.id }}"
                			class="button"
                			data-modal="#photo-{{ photo.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ photo.id }}', cms_page: 'photo'"
                			data-request-flash
        		 		>{{ 'Детальнее'|_ }}</a></td>
        		 		<td class="devider"></td>
                  	</tr>
                  	{% endfor %}
	            </tbody>
	          </table>
	          {% endif %}
	          {% if videos|length > 0 %}
	          <table id="video"{{ realpage == 'video' ? ' class="active"' : '' }}>
	            <tbody>
	              <tr>
	              {% for video in videos %}
	                <th>{{ video.title }}</th>
                	{% endfor %}
	              </tr>
	              <tr>
	              {% for video in videos %}
	                <td>
	                	<a
	                		href="/video?hash={{ video.id }}#video-category-{{ video.id }}"
                			class="button"
                			data-modal="#video-{{ video.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ video.id }}', cms_page: 'video'"
                			data-request-flash
                		 >{{ 'Детальнее'|_ }}</a>
	                </td>
                {% endfor %}
	              </tr>
	              	{% for video in videos %}
	              	<tr class="mobile">
	                  <th>{{ video.title }}</th>
	                  <td><a
	                		href="/video?hash={{ video.id }}#video-category-{{ video.id }}"
                			class="button"
                			data-modal="#video-{{ video.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ video.id }}', cms_page: 'video'"
                			data-request-flash
                		 >{{ 'Детальнее'|_ }}</a></td>
                  	</tr>
                  	{% endfor %}
	            </tbody>
	          </table>
	          {% endif %}
	          {% if musics|length > 0 %}
	          <table id="music"{{ realpage == 'music' ? ' class="active"' : '' }}>
	            <tbody>
	              <tr>
	              {% for key, music in musics %}
	                <th>{{ music.title }}</th>
	                {% endfor %}
	              </tr>
	              <tr>
	              {% for music in musics %}
	                <td>
	                	<a
                			href="/music?hash={{ music.id }}#music-category-{{ music.id }}"
                			class="button"
                			data-modal="#music-{{ music.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ music.id }}', cms_page: 'music'"
                			data-request-flash
                		 >{{ 'Детальнее'|_ }}</a>
                	</td>
                {% endfor %}
	              </tr>
	              	{% for music in musics %}
	              	<tr class="mobile">
	                  <th>{{ music.title }}</th>
	                  <td><a
                			href="/music?hash={{ music.id }}#music-category-{{ music.id }}"
                			class="button"
                			data-modal="#music-{{ music.id }}"
                			data-request="onFormedPath"
                			data-request-data="block_id: '{{ music.id }}', cms_page: 'music'"
                			data-request-flash
                		 >{{ 'Детальнее'|_ }}</a></td>
                  	</tr>
                  	{% endfor %}
	            </tbody>
	          </table>
	          {% endif %}
	          {% if gettyimages|length > 0 %}
	          <table id="gettyimages"{{ realpage == 'gettyimages' ? ' class="active"' : '' }}>
	            <tbody>
	              <tr>
	              {% for key, gettyimage in gettyimages %}
	                <th>{{ gettyimage.title }}</th>
	                {% endfor %}
	              </tr>
	              <tr>
	              {% for gettyimage in gettyimages %}
	                <td>
	                	<a
                			href="/gettyimages?hash={{ gettyimage.id }}#gettyimage-category-{{ gettyimage.id }}"
                			class="button"
                		 >Детальнее</a>
                	</td>
                {% endfor %}
	              </tr>
	            </tbody>
	          </table>
	          {% endif %}
	      </div>
	    </div>
	  </div>
	</div>
{% endput %}



<div class="main-modal black">
<div class="prices-container">
    <div class="prices-modal modal-sibling"><a href="#" class="prices-close"></a><a href="#" class="js-open-prices back-prices">{{ 'Все тарифы'|_ }}</a>
    
	{% for photo in photos %}
	{% partial 'children-categories' block=photo mark="photo" %}
	{% endfor %}

	{% for video in videos %}
	{% partial 'children-categories' block=video mark="video" %}
	{% endfor %}

	{% for music in musics %}
	{% partial 'children-categories' block=music mark="music" %}
	{% endfor %}

      

    </div>
  </div>
</div>