{% if posts|length > 0 %}
	<section class="articles-list">
	  <div class="main-container">
	    <div class="inline-holder first-lv">
			{% for post in posts %}
		        <div class="inline-el first-lv">
		        	<a href="{{ post.link }}" target="_blank">
		          		<div class="image-holder"><img src="{{ post.image.thumb(550, 'auto') }}" alt="{{ post.title }}" class="fake-img">
		            		<div style="background-image: url({{ post.image.thumb(550, 'auto') }})" class="img"></div>
	            		</div>
			            <div class="text-holder">
			            	<h3>{{ post.title }}</h3>
			            </div>
		        	</a>
		        </div>
	        {% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}