<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/socials/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать запись
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/socials/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать записи
    </a>
</div>