<div id="{{ mark }}-{{ block.id }}" class="modal-inner">
      <div class="modal-head"><span class="modal-title">{{ block.title }}</span>
          <ul class="tabs inline-holder">
            {% for item in block.categories %}
              <li class="inline-el">
              <a
                href="#{{ mark }}-category-{{ block.id }}{{ loop.index > 1 ? '-' ~ loop.index : '' }}"{{ loop.index == 1 ? ' class="active"' : '' }}
                data-request="onFormedPath"
                data-request-data="block_id: '{{ block.id }}', category_id: '{{ loop.index }}'"
              >{{ item.name }}</a></li>
            {% endfor %}
          </ul>
      </div>
        <div class="prices-content">
        {% for key, category in block.categories %}
          <table id="{{ mark }}-category-{{ block.id }}{{ loop.index > 1 ? '-' ~ loop.index : '' }}"{{ loop.index == 1 ? ' class="active"' : '' }}>
            <tbody>
                <tr>
                {% set categoryId = key %}
                  {% for sub in category.subcategories %}
                    <th>{{ sub.name }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for sub in category.subcategories %}
                    <td>
                        <bold>{{ sub.price }}</bold>
                    </td>
                  {% endfor %}
              </tr>
              <tr>
                {% for subkey, sub in category.subcategories %}
                  <td>
                    <a
                      href="#"
                      class="button js-open-order"
                      data-request="onFormedPath"
                      data-request-data="block_id: '{{ block.id }}', category_id: '{{ categoryId }}', subcategory_id: '{{ subkey }}', return: true, cms_page: '{{ mark }}'"
                      data-request-update="'pathstops': '.comment #tops'"
                    >{{ 'Заказать'|_ }}</a></td>
                {% endfor %}
              </tr>
              <tr class="mobile">
                {% for subkey, sub in category.subcategories %}
                  <th>{{ sub.name }}</th>
                  <td>
                      <bold>{{ sub.price }}</bold>
                  </td>
                  <td>
                    <a
                      href="#"
                      class="button js-open-order"
                      data-request="onFormedPath"
                      data-request-data="block_id: '{{ block.id }}', category_id: '{{ categoryId }}', subcategory_id: '{{ subkey }}', return: true, cms_page: '{{ mark }}'"
                      data-request-update="'pathstops': '.comment @#textarea'"
                    >{{ 'Заказать'|_ }}</a></td>
                  <td class="devider"></td>
                {% endfor %}
              </tr>

            </tbody>
          </table>
          {% endfor %}
        </table>
            </div>
          </div>