<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/sliders/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать слайд
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/sliders/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать слайды
    </a>
</div>