<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/posts/create') ?>"
        class="btn btn-primary oc-icon-plus">
         Создать пост
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/posts/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать фотографии
    </a>
</div>