<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/abouts/create') ?>"
        class="btn btn-primary oc-icon-plus">
       	Создать запись
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/abouts/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать записи
    </a>
</div>