	{% if musics|length > 0 %}
	<section class="photo-collections">
	  <div class="main-container">
	    <div class="inline-holder">
	    	{% for music in musics %}
		        <div class="inline-el">
		            <h2>{{ music.title }}</h2>
		            <div class="image-holder"><img src="{{ music.image.thumb(550, 'auto') }}" alt="{{ image.title }}" class="fake-img">
		              <div style="background-image: url({{ music.image.thumb(550, 'auto') }})" class="img"></div>
		              <div class="description-holder">
		                <p>{{ music.description|raw }}</p>
		                <a href="{{ music.link }}" class="button">{{ 'View collection'|_ }}</a>
		              </div>
		            </div></div>
	    		{% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}