{% if leftPages|length > 0 or rightPages|length > 0 %}
	<div class="main-nav">
		<div class="nav-container">
			
			<div id="leftPages">
				<ul class="inline-holder">
			  	{% for page in leftPages %}
			  		{% if page.type == 'page' %}
			  			<li class="inline-el"><a href="{{ page.cms_page|page }}" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% elseif page.type == 'info_page' %}
			  			<li class="inline-el"><a href="/{{ page.slug }}" class="{% if viewBag.activeMenu == page.slug %}active{% endif %}">{{ page.title }}</a></li>
		  			{% elseif page.type == 'price' %}
		  				<li class="inline-el">
		  					<a href="#" class="js-open-prices">{{ page.title }}</a>
		  				</li>
		  			{% else %}
		  				<li class="inline-el"><a href="{{ page.link }}" target="_blank" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% endif %}
		    	{% endfor %}
			  </ul>
			</div>

			{% if navigation_top_logo %}
				<div class="top-nav-logo">
					<a href="/"><img class="footer-logo" src="{{ navigation_top_logo.path }}" width="100"></a>
				</div>
			{% endif %}

			<div id="rightPages">
				<ul class="inline-holder">
			  	{% for page in rightPages %}
			  		{% if page.type == 'page' %}
			  			<li class="inline-el"><a href="{{ page.cms_page|page }}" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% elseif page.type == 'info_page' %}
			  			<li class="inline-el"><a href="/{{ page.slug }}" class="{% if viewBag.activeMenu == page.slug %}active{% endif %}">{{ page.title }}</a></li>
		  			{% elseif page.type == 'price' %}
		  				<li class="inline-el">
		  					<a href="#" class="js-open-prices">{{ page.title }}</a>
		  				</li>
		  			{% else %}
		  				<li class="inline-el"><a href="{{ page.link }}" target="_blank" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% endif %}
		    	{% endfor %}
			  </ul>
			</div>

		  <div class="mobile-btn-holder">
		    <div id="m-nav-btn"><span></span><span></span><span></span></div>
		  </div>
		<div class="mobile-menu-wrapper"></div>
		  <ul id="mobile-menu">
		  {% for page in pages %}
		  		{% if page.is_main %}
			  		{% if page.type == 'page' %}
			  			<li class="inline-el"><a href="{{ page.cms_page|page }}" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% elseif page.type == 'info_page' %}
			  			<li class="inline-el"><a href="/{{ page.slug }}" class="{% if viewBag.activeMenu == page.slug %}active{% endif %}">{{ page.title }}</a></li>
		  			{% elseif page.type == 'price' %}
		  				<li class="inline-el">
		  					<a href="#" class="js-open-prices">{{ page.title }}</a>
		  				</li>
			  		{% else %}
			  			<li class="inline-el"><a href="{{ page.link }}" target="_blank" class="{% if viewBag.activeMenu == page.cms_page %}active{% endif %}">{{ page.title }}</a></li>
			  		{% endif %}
		  		{% endif %}
	    	{% endfor %}
		  </ul>
		</div>
	</div>
{% endif %}
