<div data-control="toolbar">
    <a
        href="<?= Backend::url('intertech/globalsite/advantages/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Создать преимущество
    </a>
    <a
        href="<?= Backend::url('intertech/globalsite/advantages/reorder') ?>"
        class="btn btn-default oc-icon-exchange">
        Сортировать преимущества
    </a>
</div>