{% if abouts|length > 0 %}
	<section class="about">
	  <div class="main-container">
	    <div class="inline-holder">
	    {% for about in abouts %}
	      <div class="inline-el">
	        <h3 class="ellipsis-text">{{ about.title }}</h3>
	        <p>{{ about.description|raw }}</p>
	      </div>
		{% endfor %}
	    </div>
	  </div>
	</section>
{% endif %}